.overlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: var(--space-5);
}

.overlayThread {
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-lg);
  overflow: hidden;
  font-size: var(--size-sm);
}

.overlayThreadMain {
  background: var(--color-surface-elevated);
}

.minimizedThread {
  display: flex;
  align-items: center;
  padding: var(--space-3) var(--space-4);
  gap: var(--space-4);
  cursor: pointer;
  background: var(--color-surface-elevated);
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow);
  font-size: var(--size-sm);
  font-weight: 500;
  user-select: none;
}
