.newThreadCursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: var(--z-comments-sidemenu);
  user-select: none;
  width: 36px;
  height: 36px;
  box-shadow: var(--shadow);
  border-top-left-radius: 4px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  cursor: grab;
  background: #fff;
}
