.wrapper {
  display: flex;
  height: 100vh;
}

.wrapper > * {
  width: 50%;
  padding: 8px 24px;
}

@media (max-width: 860px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapper > * {
    width: 100%;
  }
}

.notificationPanel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(220, 220, 220);
  max-width: 550px;
}

.notificationList {
  overflow-y: auto;
  flex-grow: 1;
}

.buttonBar {
  display: flex;
  gap: 6px;
  margin-top: 12px;
}

.topBar {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBarButtons {
  display: flex;
  gap: 6px;
}
