.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.threads {
  isolation: isolate;
}

.draggableThread {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.avatar {
  position: absolute;
  right: 100%;
  top: 0;
  margin-right: 6px;
  user-select: none;
  width: 36px;
  height: 36px;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 4%),
    0 8px 26px rgb(0 0 0 / 6%),
    inset 0 0 0 1px rgb(255 255 255 / 6%);
  border-top-left-radius: 4px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background: var(--lb-background);
  cursor: grab;
}

.avatar > img,
.avatar > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  width: 28px;
  height: 28px;
}

.avatar > div {
  background: var(--lb-background);
}
