.header {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0 var(--space-8);
  grid-template-columns: 1fr 2fr 1fr;
}

.menu,
.logo,
.profile {
  display: flex;
  place-items: center;
}

.menu {
  place-content: flex-start;
}

.menuToggle {
  display: flex;
  width: 32px;
  height: 32px;
  background: var(--color-surface);
  border-radius: 100%;
  place-content: center;
  place-items: center;
}

.logo {
  place-content: center;
}

.logoLink {
  transition: opacity var(--transition);
  outline: none;
}

.logoLink:hover,
.logoLink:focus-visible {
  opacity: var(--opacity-hover);
}

.profile {
  gap: var(--space-6);
  place-content: flex-end;
}

.profileButton {
  transition: opacity var(--transition);
  outline: none;
}

.profileButton:hover,
.profileButton:focus-visible {
  opacity: var(--opacity-hover);
}

.profilePopover {
  display: flex;
  min-width: 180px;
  max-width: 320px;
  flex-direction: column;
}

.profilePopoverInfo {
  padding: var(--space-6) var(--space-7);
}

.profilePopoverActions {
  padding: var(--space-3);
}

.profilePopoverInfo {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);
}

.profilePopoverName,
.profilePopoverId {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profilePopoverName {
  font-weight: 500;
}

.profilePopoverId {
  color: var(--color-text-lighter);
  font-size: var(--size-sm);
}

.profilePopoverButton {
  width: 100%;
  place-content: center;
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu {
    display: none;
  }

  .logo {
    place-content: flex-start;
  }
}
