{
    "printWidth": 80,
    "singleQuote": false,
    "trailingComma": "all",
    "endOfLine": "lf",
    "semi": false,
    "tabWidth": 2,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["tv", "cx"]
  }