# Git
.git

# Dependencies and build artifacts
node_modules
dist

docs
examples
e2e
guides
tutorial
starter-kits
assets

.idea
.vscode
.vim

.turbo
.next
.nuxt
.vercel
coverage
*.tsbuildinfo
*.pem
.DS_Store
.env*
.claude
CLAUDE.local.md
.mcp.json
