# Use specific node version
NODEVER="$(head -n1 .nvmrc | grep -oEe '[[:digit:].]+')"

if [ -x "$(command -v node)" ]; then
  CURRENT_NODEVER="$(node --version | grep -oEe '[[:digit:].]+')"
fi

if [ "$NODEVER" != "$CURRENT_NODEVER" ]; then
  NVM_DIR="$HOME/.nvm/versions/node/v${NODEVER}/bin"
  if [ -d "$NVM_DIR" ]; then
    PATH_add "$NVM_DIR"
  else
    echo "" >&2
    echo "#####################################################################" >&2
    echo "Error: ${NVM_DIR} not found" >&2
    echo "" >&2
    echo "Could not find the recommended node version $NODEVER (from .nvmrc) on" >&2
    echo "your machine!" >&2
    echo "#####################################################################" >&2
    echo "" >&2
  fi
fi

# Put node_modules/.bin on the $PATH
layout node

PATH_add scripts