# Use specific node version
NODEVER="$(head -n1 .nvmrc | grep -oEe '[[:digit:].]+')"
NODEDIR="$HOME/.nvm/versions/node/v${NODEVER}/bin"
if [ ! -d "$NODEDIR" ]; then
    echo "" >&2
    echo "#####################################################################" >&2
    echo "Error: ${NODEDIR} not found" >&2
    echo "" >&2
    echo "Could not find the recommended node version $NODEVER (from .nvmrc) on" >&2
    echo "your machine!" >&2
    echo "#####################################################################" >&2
    echo "" >&2
else
    PATH_add "$NODEDIR"
fi

# Put node_modules/.bin on the $PATH
layout node

PATH_add scripts
