layout node

# Automatically put scripts/ in your $PATH, as long as you
# are inside this repo
PATH_add ./scripts/

# Put node_modules/.bin at the front of the $PATH. Using a raw export here in
# addition to layout node / PATH_add so the path stays relative and resolves
# from the current working directory, as well as from the repo root.
export PATH="./node_modules/.bin:$PATH"
