.idea/
.next/
.nuxt/
.plasmo/
.svelte-kit/
.turbo/
.vercel/
.vim/
.vscode/
build/
coverage/
dist/
node_modules/

*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env.development.local
.env.local
.env.production.local
.env.test.local

*.pem
.DS_Store

# Claude Code configs
.claude/cache/
.claude/*.local.json
CLAUDE.local.md

.mcp.json
