.avatars {
  --avatar-size: 48;
  --wrapper-size: calc(calc(var(--avatar-size) * 1px) * 8px);
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.more {
  border-width: 4px;
  border-radius: 9999px;
  border-color: white;
  background-color: #9ca3af;
  min-width: var(--wrapper-size);
  width: var(--wrapper-size);
  height: var(--wrapper-size);
  margin-left: -0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.you:not(:first-child) {
  margin-left: 32px;
}

.avatar {
  display: flex;
  place-content: center;
  position: relative;
  border: 4px solid #fff;
  border-radius: 9999px;
  width: var(--wrapper-size);
  height: var(--wrapper-size);
  background-color: #9ca3af;
  margin-left: -0.75rem;
}

.avatar_picture {
  border-radius: 9999px;
}
