.status {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.status[data-status="connected"] {
  --status-block: #22c55e;
}

.status[data-status="connecting"],
.status[data-status="reconnecting"]{
  --status-block: #eab308;
}

.status[data-status="disconnected"] {
  --status-block: #ef4444;
}

.statusCircle {
  position: relative;
  background: var(--status-block);
  width: 8px;
  height: 8px;
  border-radius: 9999px;
}

.statusCircle:before {
  content: "";
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  background: var(--status-block);
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  animation: ping 1.5s cubic-bezier(0,0,.2,1) infinite;
  opacity: 0.4;
}

.statusText {
  text-transform: capitalize;
  opacity: 0.25;
}

@keyframes ping {
  75%, to {
    transform: scale(2);
    opacity: 0
  }
}
