.placeholder {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 20px;
  background: rgba(var(--color-foreground), 0.05);
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.placeholderForm {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  padding: 16px 20px 20px;
  background: rgba(var(--color-surface), 1);
  border: 1px solid rgba(var(--color-foreground), 0.3);
  border-radius: 6px;
  outline: none;
}

.outside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inputRow {
  width: 100%;
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.icon svg, .icon img {
  width: 20px;
  height: 20px;
}

.input {
  display: block;
  flex-grow: 1;
  border: 0;
  font-size: 1em;
  background: none;
  border-bottom: 1px solid transparent;
  padding: 6px 0 4px;
  transition: border-bottom-color 150ms ease-in-out;
}

.input::placeholder {
  color: rgba(var(--color-foreground), 0.4);
}

.input:focus {
  outline: none;
}

.button {
  margin-top: 12px;
}
