$lb-button-size: calc(2 * 0.25 * var(--lb-spacing) + var(--lb-icon-size));
$lb-elevation-padding: 4px;
$lb-tiptap-anchored-threads-shadow:
  0 0 0 1px rgb(0 0 0 / 4%),
  0 2px 6px rgb(0 0 0 / 4%),
  0 6px 20px rgb(0 0 0 / 6%);
$lb-tiptap-anchored-threads-active-shadow:
  0 0 0 1px rgb(0 0 0 / 4%),
  0 2px 6px rgb(0 0 0 / 8%),
  0 8px 26px rgb(0 0 0 / 12%);
