@mixin invisible-selection {
  &::selection,
  *::selection {
    background: transparent;
  }
}

@mixin invisible-scrollbar {
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
