.dialog {
  width: 420px;
  max-width: 100%;
  padding: var(--space-8);
}

.description {
  margin-bottom: var(--space-10);
  color: var(--color-text-light);
}

.switches {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);

}

.switches h3 {
  font-weight: 500;
  font-size: var(--size);
}

.switches h3:not(:first-of-type) {
  margin-top: var(--space-4);
}

.switchBox {
  background: var(--color-surface);
  padding: var(--space-8);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  gap: var(--space-7);
}
