.dialog {
  width: 420px;
  max-width: 100%;
  padding: var(--space-8) 0;
}

.description {
  margin-bottom: var(--space-10);
  color: var(--color-text-light);
}

.switches {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.switches h3 {
  font-weight: 500;
  font-size: var(--size-sm);
  padding: 0 var(--space-8);
}

.switches h3:not(:first-of-type) {
  margin-top: var(--space-4);
  padding-top: var(--space-8);
  border-top: 1px solid var(--color-border);
}

.switchBox {
  background: var(--color-surface);
  padding: var(--space-6) var(--space-7);
  margin: 0 var(--space-8);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  gap: var(--space-7);
}

.loading {
  display: flex;
  place-items: center;
  place-content: center;
  min-height: 100px;
}

.selectBox {
  margin: 0 var(--space-8);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  gap: var(--space-7);
}
