@import "../constants";

@mixin dark-styles {
  /**
   * Colors
   */
  --lb-accent: #4af;
  --lb-background: #222;
  --lb-foreground: #fff;
  --lb-elevation-background: #333;
  --lb-tooltip-background: #333;
  --lb-accent-contrast: 16%;
  --lb-foreground-contrast: 10%;

  /**
   * Shadows
   */
  --lb-inset-shadow: inset 0 0 0 1px rgb(255 255 255 / 6%);
  --lb-elevation-shadow: $lb-elevation-shadow;
  --lb-tooltip-shadow: $lb-tooltip-shadow;

  color-scheme: dark;

  &.lb-elevation,
  &.lb-tooltip {
    --lb-background: #333;
    --lb-foreground-contrast: 10%;
  }
}
