@import "../constants";

@mixin dark-variables {
  /**
   * Colors
   */
  --lb-accent: #4af;
  --lb-background: #222;
  --lb-foreground: #fff;
  --lb-elevation-background: #333;
  --lb-tooltip-background: #333;
  --lb-accent-contrast: 16%;
  --lb-foreground-contrast: 10%;
  --lb-elevation-foreground-contrast: 10%;
  --lb-tooltip-foreground-contrast: 10%;

  /**
   * Shadows
   */
  --lb-inset-shadow: inset 0 0 0 1px rgb(255 255 255 / 6%);
  --lb-elevation-shadow: $lb-elevation-shadow;
  --lb-tooltip-shadow: $lb-tooltip-shadow;
}

@mixin dark-root-styles {
  color-scheme: dark;
}
