.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.emptyNotifications {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgba(55, 53, 47, 0.5);
  padding: 1rem;
}

.inboxList {
}

.inboxNotificationAvatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  user-select: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
