@import "@liveblocks/react-comments/styles.css";
@import "@liveblocks/react-comments/styles/dark/media-query.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #e8eaee;
}

.lb-thread,
.lb-thread .lb-comment,
.lb-thread .lb-composer {
  background-color: white;
  transition: background-color 300ms ease 0s;
}

.lb-thread:hover,
.lb-thread:hover .lb-comment,
.lb-thread:hover .lb-composer {
  background-color: rgba(55, 53, 47, 0.03);
}

.lb-thread[data-state="active"],
.lb-thread[data-state="active"] .lb-comment,
.lb-thread[data-state="active"] .lb-composer {
  background-color: rgba(255, 212, 0, 0.067);
}

.lb-thread-composer:after {
  border-width: 0;
}

.lb-lexical-composer-suggestions-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: white;
  padding: 4px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.lb-lexical-composer-suggestions-list-item {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 25px;
  padding: 0 10px 0 10px;
  position: relative;
  user-select: none;
  color: rgba(55, 53, 47, 0.8);
}

.lb-lexical-composer-suggestions-list-item[data-highlighted] {
  outline: none;
  background-color: rgba(55, 53, 47, 0.1);
  color: rgba(55, 53, 47, 0.8);
}

.lb-lexical-composer-mention-suggestion-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  user-select: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.lb-lexical-composer-mention {
  border-radius: 3px;
  padding: 0px 4px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(55, 53, 47, 0.1);
}

.lb-lexical-composer-mention[data-selected] {
  background-color: rgba(55, 53, 47, 0.2);
}
