.container {
  position: relative;
  border-radius: 6px;
  background: #fff;
  padding: 1em 0;
  width: 100%;
  height: 100%;
  color: #111827;
}

.editor {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: inherit;
}

.editor:focus {
  outline: none;
}

.placeholder {
  pointer-events: none;
  position: absolute;
  opacity: 0.3;
  margin: 0 1em;
}

.editor p {
  margin: 0 1em;
}
