.connected, .notConnected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 18px;
  border-radius: 24px;
}

.connected {
  background: rgb(0, 255, 0, 0.2);
}

.notConnected {
  background: rgb(255, 0, 0, 0.2);
}
