body {
  background-color: rgb(243, 243, 243);
}

.canvas {
  background-color: #eee;
  touch-action: none;
  width: 100vw;
  height: 100vh;
}

.rectangle {
  transition: all 0.1s ease;
  stroke-width: 1;
  border-style: solid;
  border-width: 2px;
  height: 100px;
  width: 100px;
}
