html,
body {
  background: #f3f3f3;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  /* Waveform total height */
  --wave-height: 70px;

  /* How far down the waveform the timeline starts */
  --wave-timeline-modifier: 0.5;
}

.lb-root {
  --lb-accent: #44f;
  --accent: #44f;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
