@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Waveform total height */
  --wave-height: 70px;

  /* How far down the waveform the timeline starts */
  --wave-timeline-modifier: 0.5;
}

.lb-root {
  --accent: theme("colors.accent");
  --lb-accent: theme("colors.accent");
  --lb-background: theme("backgroundColor.primary");
  --lb-foreground: theme("textColor.primary");
  --lb-foreground-subtle: theme("borderColor.primary");
}
