@import "@liveblocks/lexical/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

.editor-paragraph {
  margin-bottom: 1rem;
}

.editor-quote {
  box-sizing: border-box;
  border-left: 0.25rem solid rgba(209, 213, 219);
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.editor-heading-h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.editor-heading-h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.editor-heading-h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.editor-heading-h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.editor-heading-h5 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.editor-list-ul {
  display: block;
  list-style-type: disc;
  margin-block: 1rem;
  padding-inline-start: 2.5rem;
}

.editor-list-ol {
  display: block;
  list-style-type: decimal;
  margin-block: 1rem;
  padding-inline-start: 2.5rem;
}

.editor-list-item {
  display: list-item;
}
