@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-lexical/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.lb-thread {
  border-bottom: 1px solid var(--lb-foreground-subtle);
  padding: 0.5rem;
}

.lb-thread-composer:after {
  content: none;
}

.lb-lexical-threads-empty {
  height: 100%;
  border-left: 1px solid var(--lb-foreground-subtle);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

h5 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2;
}
