.menu {
  background: var(--color-surface-elevated);
  border-radius: var(--radius);
}

.menuItem {
  padding: var(--space-2) var(--space-4);
}

/*.menuItem[data-highlighted] {*/
/*  outline: 2px solid red;*/
/*}*/
