.toolbar {
  display: flex;
  padding: 4px;
  width: 100%;
  min-width: max-content;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.toolbarItem {
  all: unset;
  height: 25px;
  padding: 0 5px;
  border-radius: 4px;
  display: inline-flex;
  font-size: 13px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toolbarItem:hover {
  background-color: #f5f5f5;
}

.toolbarItem:active {
  background-color: #e5e5e5;
}
