* {
  box-sizing: border-box;
}

body {
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

svg {
  touch-action: none;
}

.canvas-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.canvas-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.canvas-shape {
  position: absolute;
  top: 0px;
  left: 0px;
}

.canvas-controls {
  position: absolute;
  top: 0px;
  right: 0px;
}

.canvas-controls > button {
  background: none;
  border: none;
  padding: 24px 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: dodgerblue;
  cursor: pointer;
}

.author {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 24px 20px;
}
