.tools_panel_container {
  position: absolute;
  bottom: 24px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.tools_panel {
  box-shadow: var(--shadow-popup);
  border-radius: 12px;
  background-color: var(--color-surface-panel);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

.tools_panel_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.seperator {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  align-self: stretch;
}
