.avatar {
  position: relative;
  display: flex;
  background: var(--color-surface);
  border-radius: 100%;
  color: var(--color-text-lighter);
  place-content: center;
  place-items: center;
}

.avatar::before,
.avatar::after {
  position: absolute;
  border-radius: inherit;
  content: "";
  inset: 0;
  pointer-events: none;
}

.avatarOutline::before {
  box-shadow: 0 0 0 2px var(--color-surface-elevated), 0 0 0 4px currentColor;
}

.avatar::after {
  box-shadow: inset 0 0 0 1px var(--color-border-transparent);
}

.avatar img {
  position: absolute;
  border-radius: inherit;
  inset: 0;
}

.label {
  color: var(--color-text-lighter);
  font-weight: 500;
}
