.wrapper {
  display: flex;
  height: 100vh;
}

.wrapper > * {
  width: 50%;
  padding: 8px 24px;
}

@media (max-width: 860px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapper > * {
    width: 100%;
  }
}

.notificationPanel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(220, 220, 220);
  max-width: 550px;
}

.notificationList {
  overflow-y: auto;
  flex-grow: 1;
}


.warningIcon {
  width: 36px;
  height: 36px;
  background: #f3f3f3;
  border-radius: 100%;
  padding: 8px;
  color: #c99f00;
}

.welcomeNotification {
  background: #f8f6f6;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
