.dialog {
  width: 520px;
  max-width: 100%;
}

.dialogSection {
  padding: 0 var(--space-8);
  margin: var(--space-8) 0;
}

.dialogDivider {
  display: flex;
  color: var(--color-text-lighter);
  font-size: var(--size-sm);
  place-items: center;
  border-top: 1px solid var(--color-border);
  padding: var(--space-6) var(--space-8) 0;
  margin-bottom: calc(-1 * var(--space-5));
}

.dialogTabs {
  border-bottom: 1px solid var(--color-border);
}

.dialogTabList {
  display: flex;
  border-bottom: 1px solid var(--color-border);
}

.dialogTabContent {
  outline: none;
}

.dialogTab {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  padding: var(--space-5);
  font-size: var(--size-sm);
  font-weight: 500;
  place-content: center;
  place-items: center;
  outline: none;
}

.dialogTab[data-state="active"]::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--color-accent);
  content: "";
}

.dialogTabLabel {
  display: flex;
  place-content: center;
  place-items: center;
  transition: opacity var(--transition);
}

.dialogTab:hover .dialogTabLabel,
.dialogTab:focus-visible .dialogTabLabel {
  opacity: var(--opacity-hover);
}

.dialogTabIcon {
  margin-right: var(--space-3);
}
