.default {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.section {
  display: flex;
  place-items: center;
  margin-bottom: calc(-1 * var(--space-3));
}

.sectionLabel[data-disabled] {
  cursor: default;
  opacity: var(--opacity-disabled);
}

.sectionLabelIcon {
  margin-right: var(--space-4);
  color: var(--color-text);
  width: 16px;
  height: 16px;
}

.sectionAction {
  margin-left: auto;
}

.sectionStart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-2);
}

.sectionIcon {
  width: 36px;
  height: 36px;
  background-color: var(--color-surface);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  place-items: center;
  place-content: center;
}

.sectionIcon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sectionIcon > svg {
  width: 50%;
  height: 50%;
  opacity: 0.5;
}
