@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-ui/styles/dark/media-query.css";

html,
body {
  background: #f3f3f3;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.lb-root {
  --lb-accent: #44f;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 1rem;
  margin: 0 auto;
  max-width: 680px;
}

.loading,
.error {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-content: center;
  place-items: center;
}

.loading img {
  width: 64px;
  height: 64px;
  opacity: 0.2;
}

.thread,
.composer,
.search-results,
.search-input {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 4%),
    0 8px 26px rgb(0 0 0 / 6%);
}

.search-input {
  border: 0;
  padding: 16px;
  font-size: inherit;
  outline-offset: -2px;

  &::placeholder {
    color: var(--lb-foreground-moderate);
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: var(--lb-background);
}

.search-message,
.search-results-title {
  font-weight: 400;
  padding: 8px 12px 0;
  color: var(--lb-foreground-tertiary);
  font-size: 14px;
  margin-bottom: 8px;
}

.search-message {
  padding-bottom: 4px;
}

.search-result {
  display: block;
  text-decoration: none;
  color: var(--lb-foreground);
  line-height: 1.5;
  border-radius: 0.6rem;
  margin: 4px;
  padding: 6px 8px;

  &:hover {
    background-color: var(--lb-foreground-subtle);
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #111;
  }

  .lb-root {
    --lb-accent: #77f;
  }

  .loading img {
    filter: invert(1);
  }

  .error {
    color: #fff;
  }

  .thread::after,
  .composer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 6%);
  }
}
