{% DEFAULT_STYLES %}

form, li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0;
}

input {
  display: block;
  margin-top: 0;
}

ul {
  list-style-type: none;
}

li {
  justify-content: start;
}
