html,
body {
  background: #f3f4f6;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-content: center;
  place-items: center;
}

.loading img {
  width: 64px;
  height: 64px;
  opacity: 0.2;
}

.threads {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thread {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background: #e3f5ff;
  border-radius: 1rem;
}

.composer {
  padding: 1rem;
  background: #e3f5ff;
  border-radius: 1rem;
}
