.audioWrapper {
  background: #fff;
  padding: 1rem;
  border-radius: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.playAndInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.songName {
  font-weight: 600;
  font-size: 18px;
}

.sliderAndComments {
  margin-bottom: 0.5rem;
  position: relative;
  height: var(--wave-height);
}

.sliderComments {
  position: absolute;
  top: calc(100% * var(--wave-timeline-modifier));
  right: 0;
  bottom: 0;
  left: 0;
}

.sliderRoot {
  position: relative;
  flex: 1 1;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 100%;
  background: white;
}

.waveformWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.controls {
  position: absolute;
  height: var(--controls-height);
  padding: 0 var(--spacing);
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray12);
}

.controls > * {
  color: var(--gray12);
}


.playButton,
.fullscreenButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.time {
  font-size: 14px;
  user-select: none;
  font-variant-numeric: tabular-nums;
}

.time > time:nth-child(2) {
  color: var(--gray10);
}
