.circularButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 99999rem;
  appearance: none;
  border: 0;
}

.circularButton[data-type="primary"] {
  background: #652df1;
  color: #ffffff;
}

.circularButton[data-type="secondary"] {
  background: #ffffff;
  border: 2px solid #adadad;
  color: #424242;
}
