.suggestions {
  --padding: 4px;
  background: #ffffff;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: var(--padding);
}

.mentionSuggestion {
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0.375rem 0.5rem;
  font-size: 14px;
  border-radius: calc(0.75 * 1rem);
  cursor: pointer;
  min-height: calc(20px + 2 * var(--padding));
  min-width: 120px;
}

.mentionSuggestion > img {
  border-radius: 9999px;
}

.mentionSuggestion[data-selected] {
  background: #f1f1f1;
}
