.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.threadList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.threadWrapper {
  position: relative;
  background: #ffffff;
  border-radius: 2rem;
  overflow: hidden;
}

.threadTime {
  margin-left: 1rem;
  height: 28px;
  display: inline-flex;
  gap: 6px;
  padding: 0 6px;
  align-items: center;
  font-size: 13px;
  border-radius: 4px;
  font-variant-numeric: tabular-nums;
  cursor: pointer;
  transition: background-color 150ms ease-out;
  outline: none;
  appearance: none;
  border: 0;
}

.threadTime:hover,
.threadTime:focus {
  background-color: red;
}
