.pinnedThreads {
  width: 100%;
}

.pinnedThread {
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transform: translateX(-50%);
  transform-origin: center bottom;
  transition: opacity 0.1s ease;
}

.pinnedThread:hover {
  opacity: 1;
}

.avatarPin {
  cursor: pointer;
  user-select: none;
}

.avatarPin > img {
  width: 24px;
  height: 24px;
  border-radius: 0;
}

.tooltip {
  position: absolute;
  top: 100%;
  margin-top: 0.25rem;
  user-select: none;
  white-space: nowrap;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltipHeader {
  display: flex;
  flex: 0 0;
  gap: 6px;
  align-items: center;
  font-weight: 500;
}

.tooltipBody {
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltipBody > div {
  display: inline-block;
}

.tooltipBody p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 !important;
}
