.waveform {
  position: relative;
  width: 100%;
  height: var(--wave-height);
  --hover-percentage: 0%;
}

.waveform:hover .waveformHover {
  opacity: 1;
}

.waveformHover {
  position: absolute;
  height: 100%;
  inset: 0;
  transform: translateX(calc(-100% + var(--hover-amount)));
  pointer-events: none;
  mix-blend-mode: overlay;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 10;
}
