@import "tailwindcss";

@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-ui/styles/dark/media-query.css";

@layer base {
  html,
  body {
    @apply bg-gray-50 dark:bg-gray-900;
  }
}

.lb-root {
  --lb-accent: #44f;
}

@media (prefers-color-scheme: dark) {
  .lb-root {
    --lb-accent: #77f;
  }
}
