@import "tailwindcss";

@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-ui/styles/dark/media-query.css";

@layer base {
  html,
  body {
    @apply m-0 bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white font-sans;
  }
}

.lb-root {
  --lb-accent: #44f;
}

@media (prefers-color-scheme: dark) {
  .lb-root {
    --lb-accent: #77f;
  }
}
