/* Liveblocks Comments */
.lb-root {
  --lb-radius: var(--border-radius);
  --lb-spacing: var(--spacing);
  --lb-accent: var(--accent);
  --lb-background: var(--gray1);
  --lb-foreground: var(--gray12);
  --lb-accent-foreground: var(--accent-contrast);
  --lb-icon-weight: 1px;
  --lb-elevation-shadow: var(--shadow);
  --lb-foreground-contrast: 6%;
}

.lb-tooltip {
  --lb-background: var(--gray1);
  --lb-foreground: var(--gray12);
}
