@import "@liveblocks/react-ui/styles.css";
/*@import "@liveblocks/react-tiptap/styles.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
  --radius: 0.5rem;
}

::selection {
  @apply bg-indigo-100/75;
}

.tiptap {
  outline: none;
}

.lb-root {
  --lb-accent: #4f46e5;
  --lb-elevation-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

.lb-thread .lb-thread-composer {
  border-top: 1px solid rgba(228, 228, 231, 0.8);
}

.lb-composer, .lb-thread {
  font-size: 14px;
}

.lb-thread-composer:after {
  content: none;
}

.lb-portal {
  z-index: 9999999;
}
