.block_tweet {
  position: relative;
  margin: 0.5rem 0;
}

.tweet_embed {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  height: 0;
  padding-bottom: 66%;
}

.tweet_embed > div {
  margin: 0 auto;
  width: 100%;
}

.tweet_embed > div > div {
  max-width: 100% !important;
}

.tweet_embed iframe {
  width: 100% !important;
}
