.block_todo {
  display: flex;
  align-items: start;
  gap: 0.2rem;
}

.todo_checkbox_col {
  width: 1.5rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.todo_checkbox {
  display: block;
  height: 1.1rem;
  width: 1.1rem;
  margin: 0.4em auto 0;
}

.todo_text {
  flex-grow: 1;
}
