.block_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list_item::before {
  content: "•";
  width: 1rem;
  margin-right: 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.list_item {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}
