.image_loading_background {
  animation: shimmer_image_background 1.2s linear infinite;
  mask-image: linear-gradient(
    90deg,
    rgb(0 0 0 / 75%) 36%,
    rgb(0 0 0 / 20%) 48%,
    rgb(0 0 0 / 20%) 52%,
    rgb(0 0 0 / 75%) 64%
  );
  mask-size: 300% 100%;
}

@keyframes shimmer_image_background {
  from {
    mask-position: 100% 0;
  }

  to {
    mask-position: 0% 0;
  }
}
