$lb-button-size: calc(2 * 0.25 * var(--lb-spacing) + var(--lb-icon-size));
$lb-elevation-padding: 4px;
$lb-emoji-picker-padding: 6px;
$lb-tooltip-horizontal-padding: calc(0.75 * var(--lb-spacing));
$lb-tooltip-vertical-padding: calc(0.625 * var(--lb-spacing));
$lb-tooltip-line-height: 1.5;
$lb-tooltip-additional-padding: 5px;
$lb-tooltip-shortcut-height: calc(1em + 2 * 0.25 * var(--lb-spacing));
$lb-elevation-shadow:
  0 0 0 1px rgb(0 0 0 / 4%),
  0 2px 6px rgb(0 0 0 / 8%),
  0 8px 26px rgb(0 0 0 / 12%);
$lb-elevation-shadow-moderate:
  0 0 0 1px rgb(0 0 0 / 4%),
  0 2px 6px rgb(0 0 0 / 5%),
  0 8px 26px rgb(0 0 0 / 6%);
$lb-tooltip-shadow:
  0 2px 4px rgb(0 0 0 / 8%),
  0 4px 12px rgb(0 0 0 / 12%);
$lb-loading-opacity: 0.12;
$lb-radius-full: 9999px;
