@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-ui/styles/dark/media-query.css";

html,
body {
  background: #f3f3f3;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  appearance: none;
  border: 0;
  background: none;
}

.lb-root {
  --lb-accent: var(--ht-accent-color);
}

.lb-portal {
  z-index: 10;
}

.handsontable td {
  vertical-align: middle;
}
