.block_figma {
  position: relative;
  margin: 0.5rem 0;
}

.placeholder {
  display: flex;
  align-items: center;
  color: rgba(var(--color-foreground), 0.9);
  background: rgba(var(--color-foreground), 0.06);
  border-radius: 6px;
  padding: 0.75rem 1rem;
  width: 100%;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

.placeholder:hover,
.placeholder:focus {
  outline: none;
  color: rgba(var(--color-foreground), 1);
  background: rgba(var(--color-foreground), 0.1);
}

.placeholder_text {
  margin-left: 0.5rem;
}

.figma_embed {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  height: 0;
  padding-bottom: 66%;
}

.figma_embed iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.inline_actions {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 0.75rem;
  transform: translateX(-100%);
}

.block_figma:hover .inline_actions,
.block_figma_selected .inline_actions {
  opacity: 0.5;
}

.block_figma:hover .inline_actions:hover,
.block_figma_selected .inline_actions:hover {
  opacity: 1;
}


.block_figma:hover .avatars,
.block_figma_selected .avatars {
  opacity: 0;
  pointer-events: none;
}
