.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.placeholder {
  position: absolute;
  color: rgba(var(--color-foreground), 0.3);
  pointer-events: none;
  user-select: none;
  z-index: -1;
  top: 0;
}

.grow_wrap {
  display: relative;
}

.textarea,
.grow_wrap::after {
  border: none;
  color: rgba(var(--color-foreground), 1);
  padding: 0;
  margin: 0;
  background: none;
  white-space: pre-wrap;
  font: inherit;
  letter-spacing: inherit;
}

.textarea {
  outline: none;
  resize: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.grow_wrap::after {
  content: attr(data-replicated-value);
  visibility: hidden;
}