.text_selection {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  pointer-events: none;
  user-select: none;
  white-space: pre-wrap;
}

.caret {
  position: absolute;
  display: inline-flex;
  height: 1.3em;
  transform: translateX(-50%);
}

.caret::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.5px;
  background-color: inherit;
}

.caret_name {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  font-weight: 400;
  padding: 0.25rem 0.3125rem;
  line-height: 1;
  font-size: 0.75rem;
  background-color: inherit;
  color: #fff;
  white-space: nowrap;
  border-radius: 4px 4px 4px 0;
}