@import "tailwindcss";
@import "./typography.css";
@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-ui/styles/dark/media-query.css";

.lb-ai-chat-composer-action {
  --lb-button-radius: 9999px;
}

@keyframes pulse-dot {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}
