.avatars {
  display: flex;
}

.avatar {
  display: flex;
  place-content: center;
  position: relative;
  border: 2px solid var(--gray2);
  border-radius: 9999px;
  width: 32px;
  height: 32px;
  margin-left: -0.75rem;
}

.avatar:before {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: opacity 0.15s ease-out;
  padding: 4px 8px;
  color: var(--gray12);
  font-size: 12px;
  border-radius: 4px;
  margin-top: 10px;
  z-index: 1;
  background: var(--gray1);
  white-space: nowrap;
}

.avatar:hover:before {
  opacity: 1;
}

.avatar_picture {
  border-radius: 9999px;
}
