.avatars {
  display: flex;
}

.avatar {
  display: flex;
  place-content: center;
  position: relative;
  border: 2px solid var(--gray2);
  border-radius: 9999px;
  width: 32px;
  height: 32px;
  margin-left: -0.5rem;
}

.avatar:before {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: opacity 0.15s ease-out;
  padding: 4px 8px;
  color: var(--gray12);
  font-size: 12px;
  border-radius: 4px;
  margin-top: 10px;
  z-index: 1;
  background: var(--gray1);
  white-space: nowrap;
}

.avatar:hover:before {
  opacity: 1;
}

.avatar_picture {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}

.avatar_icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 16px;
  height: 16px;
  background-color: var(--gray2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar_icon > svg {
  width: 8px;
  height: 8px;
  fill: var(--gray11);
}
