.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--gray9);
  padding: var(--spacing);
}

.threadWrapper {
  position: relative;
  border-bottom: 1px solid var(--gray4);
  transition: background 0.4s ease;
}

.threadWrapper[data-highlight] {
  background: var(--gray3);
  transition: background 0.1s ease;
}

.thread {
  --lb-background: none;
}

@keyframes highlight {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.threadTime {
  height: 28px;
  background-color: var(--accent-background);
  color: var(--accent);
  display: inline-flex;
  gap: 6px;
  margin: var(--lb-spacing) 0 0 var(--lb-spacing);
  padding: 0 6px;
  align-items: center;
  font-size: 13px;
  border-radius: 4px;
  font-variant-numeric: tabular-nums;
  cursor: pointer;
  transition: background-color 150ms ease-out;
}

.threadTime:hover,
.threadTime:focus {
  background-color: var(--accent-background-hover);
}
