.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--gray9);
  padding: var(--spacing);
}

.threadWrapper {
  position: relative;
  border-bottom: 1px solid var(--gray4);
  background: var(--gray2);
}

.thread {
  --lb-background: var(--gray2);
}

.threadWrapper[data-highlight] {
  background: var(--gray3);
}

.threadWrapper[data-highlight] .thread {
  --lb-background: var(--gray3);
}

@keyframes highlight {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.threadTime {
  height: 28px;
  background-color: var(--accent-background);
  color: var(--accent);
  display: inline-flex;
  gap: 6px;
  margin: var(--spacing) 0 0 var(--spacing);
  padding: 0 6px;
  align-items: center;
  font-size: 13px;
  border-radius: 4px;
  font-variant-numeric: tabular-nums;
  cursor: pointer;
  transition: background-color 150ms ease-out;
  outline: none;
}

.threadTime:hover,
.threadTime:focus {
  background-color: var(--accent-background-hover);
}

.commentContentWrapper[data-spoiler] {
  filter: blur(6px);
  opacity: 0.5;
  transition:
    filter 150ms ease-out,
    opacity 150ms ease-out;
}

.commentContentWrapper[data-spoiler]:hover {
  filter: none;
  opacity: 1;
}
