.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--gray0);
  font-size: 24px;
  border-bottom: 1px solid var(--gray4);
  height: 56px;
}

.header > h1 {
  font-size: 16px;
  font-weight: 500;
}

.main {
  display: flex;
  height: 100%;
}

.videoPanel {
  flex: 1 1;
  overflow-y: auto;
}

.threadsPanel {
  flex: 0 0;
  min-width: 350px;
  max-width: 100%;
  background-color: var(--gray0);
  border-left: 1px solid var(--gray4);
  overflow-y: auto;
}
