@import "tailwindcss";

@theme {
  --color-neutral-950: #0a0a0a;
  --color-neutral-900: #171717;
  --color-neutral-800: #262626;
  --color-neutral-700: #404040;
  --color-neutral-100: #f5f5f5;
  --color-neutral-50: #fafafa;
}

@variant dark (.dark &);

@layer base {
  html {
    color-scheme: light;
  }

  .dark html {
    color-scheme: dark;
  }
}
