.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: var(--space-6);
  place-content: center;
  place-items: center;
}

.actions {
  display: flex;
  margin-top: var(--space-8);
  gap: var(--space-6);
}

.error {
  font-size: var(--size-lg);
  font-weight: 500;
}

.suggestion {
  color: var(--color-text-lighter);
}
