@import "tailwindcss";
@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-ui/styles/dark/media-query.css";

html,
body {
  background: #f3f3f3;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

.lb-root {
  --lb-accent: #44f;
  font-size: 14px;
}

/* Selected cells, to make cell presence work */
.ag-cell-focus:not(.ag-cell-range-selected):focus-within,
.ag-cell-range-single-cell,
.ag-cell-range-single-cell.ag-cell-range-handle,
.ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
.ag-context-menu-open
  .ag-full-width-row.ag-row-focus
  .ag-cell-wrapper.ag-row-group,
.ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group {
  border-width: 0px;
  overflow: visible;
  /* outline: 2px solid var(--ag-range-selection-border-color);
  outline-offset: -2px; */
}

/* Non-selected cells, to make cell presence work */
.ag-cell,
.ag-full-width-row .ag-cell-wrapper.ag-row-group {
  border-width: 0;
  overflow: visible !important;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 1rem;
  margin: 0 auto;
  max-width: 680px;
}

.loading,
.error {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-content: center;
  place-items: center;
}

.loading img {
  width: 64px;
  height: 64px;
  opacity: 0.2;
}

.thread,
.composer {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 4%),
    0 8px 26px rgb(0 0 0 / 6%);
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #111;
  }

  .lb-root {
    --lb-accent: #77f;
  }

  .loading img {
    filter: invert(1);
  }

  .error {
    color: #fff;
  }

  .thread::after,
  .composer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 6%);
  }
}
