html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  position: relative;
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
  place-content: center;
  place-items: center;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.17, 0.93, 0.38, 1);
}

#text {
  max-width: 380px;
  text-align: center;
}

#cursors-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
