.avatar {
  display: flex;
  position: relative;
  place-content: center;
  outline: 2px solid white;
  animation: slideIn 0.4s ease-in-out;
}

.status {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 9999px;
  box-shadow: 0 0 0 2px white;
  --ring-color: #ffffff;
}

.letter {
  display: flex;
  isolation: isolate;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

.letterBackground {
  filter: hue-rotate(-60deg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.letterCharacter {
  z-index: 10;
  color: #ffffff;
  font-weight: 600;
}

.more {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 0.25rem;
  background-color: #6b7280;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
