.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvasPanel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.toolbar {
  position: absolute;
}
