.note {
  position: absolute;
  width: auto;
  min-width: 250px;
  max-width: 400px;
  min-height: 100px;
  border-radius: 16px;
  padding: 4px;
}

.noteInner {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: 0 4px 12px 0 #00000008;
  outline: 2px solid #fff;
  transition: all 150ms ease-in-out;
  overflow: hidden;
}

.note:hover .noteInner {
  border-color: rgba(0, 0, 0, 0.25);
}

.noteHeader {
  margin: 12px 12px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
}

.noteDelete {
  display: inline-block;
  padding: 12px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  transition: background 100ms ease-in-out;
}

.noteDelete:hover{
  background: rgba(0, 0, 0, 0.08);
}

.noteBody {
  position: relative;
  flex-grow: 1;
  margin: 0 12px 10px;
}

.noteTextareaSize {
  width: 100%;
  max-width: 100%;
  visibility: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  padding-bottom: 2px;
}

.noteTextarea {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 2px;
  resize: none;
  word-wrap: break-word;
  outline: 2px solid transparent;
  outline-offset: 2px;
  overflow: hidden;
  border-bottom: 2px solid transparent;
  transition: border 150ms ease-in-out;
}

.noteTextarea:focus {
  border-color: rgba(0, 0, 0, 0.08);
}

