{
  "openapi": "3.1.0",
  "info": {
    "title": "API v2",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.liveblocks.io/v2"
    }
  ],
  "paths": {
    "/rooms": {
      "get": {
        "summary": "Get rooms",
        "description": "This endpoint returns a list of your rooms. The rooms are returned sorted by creation date, from newest to oldest. You can filter rooms by room ID prefixes, metadata, users accesses, and groups accesses. Corresponds to [`liveblocks.getRooms`](/docs/api-reference/liveblocks-node#get-rooms).\n\nThere is a pagination system where the cursor to the next page is returned in the response as `nextCursor`, which can be combined with `startingAfter`.\nYou can also limit the number of rooms by query.\n\nFiltering by metadata works by giving key values like `metadata.color=red`. Of course you can combine multiple metadata clauses to refine the response like `metadata.color=red&metadata.type=text`. Notice here the operator AND is applied between each clauses.\n\nFiltering by groups or userId works by giving a list of groups like `groupIds=marketing,GZo7tQ,product` or/and a userId like `userId=user1`.\nNotice here the operator OR is applied between each `groupIds` and the `userId`.\n",
        "tags": ["Room"],
        "parameters": [
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "in": "query",
            "name": "limit",
            "description": "A limit on the number of rooms to be returned. The limit can range between 1 and 100, and defaults to 20."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "startingAfter",
            "description": "A cursor used for pagination. Get the value from the `nextCursor` response of the previous page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "tenantId",
            "description": "A filter on tenant ID."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "query",
            "description": "Query to filter rooms. You can filter by `roomId` and `metadata`, for example, `metadata[\"roomType\"]:\"whiteboard\" AND roomId^\"liveblocks:engineering\"`. Learn more about [filtering rooms with query language](/docs/guides/how-to-filter-rooms-using-query-language)."
          },
          {
            "schema": {
              "type": "string",
              "examples": ["userId=user1"]
            },
            "in": "query",
            "name": "userId",
            "description": "A filter on users accesses."
          },
          {
            "schema": {
              "type": "string",
              "examples": ["groupsIds=group1,group2"]
            },
            "in": "query",
            "name": "groupIds",
            "description": "A filter on groups accesses. Multiple groups can be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the list of rooms, the next page cursor, and the next page URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRooms"
                },
                "examples": {
                  "example": {
                    "value": {
                      "nextCursor": "W1siaWQiLCJVRzhWYl82SHRUS0NzXzFvci1HZHQiXSxbImNyZWF0ZWRBdCIsMTY2MDAwMDk4ODEzN11d",
                      "data": [
                        {
                          "type": "room",
                          "id": "HTOGSiXcORTECjfNBBLii",
                          "lastConnectionAt": "2022-08-08T23:23:15.281Z",
                          "createdAt": "2022-08-08T23:23:15.281Z",
                          "metadata": {
                            "name": ["My room"],
                            "type": ["whiteboard"]
                          },
                          "defaultAccesses": ["room:write"],
                          "groupsAccesses": {
                            "product": ["room:write"]
                          },
                          "usersAccesses": {
                            "vinod": ["room:write"]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "operationId": "get-rooms"
      },
      "post": {
        "summary": "Create room",
        "description": "This endpoint creates a new room. `id` and `defaultAccesses` are required. When provided with a `?idempotent` query argument, will not return a 409 when the room already exists, but instead return the existing room as-is. Corresponds to [`liveblocks.createRoom`](/docs/api-reference/liveblocks-node#post-rooms), or to [`liveblocks.getOrCreateRoom`](docs/api-reference/liveblocks-node#get-or-create-rooms-roomId) when `?idempotent` is provided. \n- `defaultAccessess` could be `[]` or `[\"room:write\"]` (private or public). \n- `metadata` could be key/value as `string` or `string[]`. `metadata` supports maximum 50 entries. Key length has a limit of 40 characters maximum. Value length has a limit of 256 characters maximum. `metadata` is optional field.\n- `usersAccesses` could be `[]` or `[\"room:write\"]` for every records. `usersAccesses` can contain 100 ids maximum. Id length has a limit of 40 characters. `usersAccesses` is optional field.\n- `groupsAccesses` are optional fields.\n",
        "tags": ["Room"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success. Returns the created room.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                },
                "examples": {
                  "example": {
                    "value": {
                      "type": "room",
                      "id": "my-room-3ebc26e2bf96",
                      "lastConnectionAt": "2022-08-22T15:10:25.225Z",
                      "createdAt": "2022-08-22T15:10:25.225Z",
                      "metadata": {
                        "color": "blue"
                      },
                      "defaultAccesses": ["room:write"],
                      "groupsAccesses": {
                        "product": ["room:write"]
                      },
                      "usersAccesses": {
                        "alice": ["room:write"]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "operationId": "post-rooms",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoom"
              },
              "examples": {
                "example": {
                  "value": {
                    "id": "my-room-3ebc26e2bf96",
                    "defaultAccesses": ["room:write"],
                    "metadata": {
                      "color": "blue"
                    },
                    "usersAccesses": {
                      "alice": ["room:write"]
                    },
                    "groupsAccesses": {
                      "product": ["room:write"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}": {
      "get": {
        "summary": "Get room",
        "tags": ["Room"],
        "operationId": "get-rooms-roomId",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the room.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                },
                "examples": {
                  "example": {
                    "value": {
                      "type": "room",
                      "id": "react-todo-list",
                      "lastConnectionAt": "2022-08-04T21:07:09.380Z",
                      "createdAt": "2022-07-13T14:32:50.697Z",
                      "metadata": {
                        "color": "blue",
                        "size": "10",
                        "target": ["abc", "def"]
                      },
                      "defaultAccesses": ["room:write"],
                      "groupsAccesses": {
                        "marketing": ["room:write"]
                      },
                      "usersAccesses": {
                        "alice": ["room:write"],
                        "vinod": ["room:write"]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "description": "This endpoint returns a room by its ID. Corresponds to [`liveblocks.getRoom`](/docs/api-reference/liveblocks-node#get-rooms-roomid)."
      },
      "post": {
        "summary": "Update room",
        "tags": ["Room"],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the updated room.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                },
                "examples": {
                  "example": {
                    "value": {
                      "type": "room",
                      "id": "react-todo-list",
                      "lastConnectionAt": "2022-08-04T21:07:09.380Z",
                      "createdAt": "2022-07-13T14:32:50.697Z",
                      "metadata": {
                        "color": "blue",
                        "size": "10",
                        "target": ["abc", "def"]
                      },
                      "defaultAccesses": ["room:write"],
                      "groupsAccesses": {
                        "marketing": ["room:write"]
                      },
                      "usersAccesses": {
                        "alice": ["room:write"],
                        "vinod": ["room:write"]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "operationId": "post-rooms-roomId",
        "description": "This endpoint updates specific properties of a room. Corresponds to [`liveblocks.updateRoom`](/docs/api-reference/liveblocks-node#post-rooms-roomid). \n\nIt’s not necessary to provide the entire room’s information. \nSetting a property to `null` means to delete this property. For example, if you want to remove access to a specific user without losing other users: \n``{\n    \"usersAccesses\": {\n        \"john\": null\n    }\n}``\n`defaultAccessess`, `metadata`, `usersAccesses`, `groupsAccesses` can be updated.\n\n- `defaultAccessess` could be `[]` or `[\"room:write\"]` (private or public). \n- `metadata` could be key/value as `string` or `string[]`. `metadata` supports maximum 50 entries. Key length has a limit of 40 characters maximum. Value length has a limit of 256 characters maximum. `metadata` is optional field.\n- `usersAccesses` could be `[]` or `[\"room:write\"]` for every records. `usersAccesses` can contain 100 ids maximum. Id length has a limit of 256 characters. `usersAccesses` is optional field.\n- `groupsAccesses` could be `[]` or `[\"room:write\"]` for every records. `groupsAccesses` can contain 100 ids maximum. Id length has a limit of 256 characters. `groupsAccesses` is optional field.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoom"
              },
              "examples": {
                "example": {
                  "value": {
                    "defaultAccesses": ["room:write"],
                    "usersAccesses": {
                      "vinod": ["room:write"],
                      "alice": ["room:write"]
                    },
                    "groupsAccesses": {
                      "marketing": ["room:write"]
                    },
                    "metadata": {
                      "color": "blue"
                    }
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete room",
        "tags": ["Room"],
        "responses": {
          "204": {
            "description": "Success. The room was deleted"
          },
          "401": {
            "description": "Missing or wrong credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WRONG_KEY_USED": {
                    "value": {
                      "error": "WRONG_KEY_USED",
                      "message": "Public key instead of the secret key.",
                      "suggestion": "Please use your secret key instead of the public key, the secret key is available in the dashboard: https://liveblocks.io/dashboard/apikeys.",
                      "docs": ""
                    }
                  },
                  "MISSING_SECRET_KEY": {
                    "value": {
                      "error": "MISSING_SECRET_KEY",
                      "message": "Missing secret key in authentication header",
                      "suggestion": "Please use a secret key, the secret key is available in the dashboard: https://liveblocks.io/dashboard/apikeys",
                      "docs": ""
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INVALID_SECRET_KEY": {
                    "value": {
                      "error": "INVALID_SECRET_KEY",
                      "message": "Invalid secret key.",
                      "suggestion": "Please use a valid secret key, the secret key is available in the dashboard: https://liveblocks.io/dashboard/apikeys.",
                      "docs": ""
                    }
                  },
                  "INVALID_PUBLIC_KEY": {
                    "value": {
                      "error": "INVALID_PUBLIC_KEY",
                      "message": "Invalid public key",
                      "suggestion": "Please use a valid public key, the public key is available in the dashboard: https://liveblocks.io/dashboard/apikeys",
                      "docs": ""
                    }
                  },
                  "UNAUTHORIZED_ROOM_ACCESS": {
                    "value": {
                      "error": "UNAUTHORIZED_ROOM_ACCESS",
                      "message": "The user does not have permission to access the room.",
                      "suggestion": "Please add the user’s ID or one of the user’s group IDs to the room first.",
                      "docs": ""
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNPROCESSABLE_ENTITY": {
                    "value": {
                      "error": "UNPROCESSABLE_ENTITY",
                      "message": "Missing key: 'defaultAccesses'.",
                      "suggestion": "Please ensure the data follows the correct format.",
                      "docs": ""
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          }
        ],
        "operationId": "delete-rooms-roomId",
        "description": "This endpoint deletes a room. A deleted room is no longer accessible from the API or the dashboard and it cannot be restored. Corresponds to [`liveblocks.deleteRoom`](/docs/api-reference/liveblocks-node#delete-rooms-roomid)."
      }
    },
    "/rooms/{roomId}/prewarm": {
      "get": {
        "summary": "Prewarm room",
        "tags": ["Room"],
        "operationId": "get-rooms-roomId-prewarm",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          }
        ],
        "responses": {
          "204": {
            "description": "Success. Room has been prewarmed for faster connectivity."
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "description": "Speeds up connecting to a room for the next 10 seconds. Use this when you know a user will be connecting to a room with [`RoomProvider`](/docs/api-reference/liveblocks-react#RoomProvider) or [`enterRoom`](/docs/api-reference/liveblocks-client#Client.enterRoom) within 10 seconds, and the room will load quicker."
      }
    },
    "/rooms/{roomId}/upsert": {
      "post": {
        "summary": "Upsert (update or create) room",
        "tags": ["Room"],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the updated or created room.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                },
                "examples": {
                  "example": {
                    "value": {
                      "type": "room",
                      "id": "react-todo-list",
                      "lastConnectionAt": "2022-08-04T21:07:09.380Z",
                      "createdAt": "2022-07-13T14:32:50.697Z",
                      "metadata": {
                        "color": "blue",
                        "size": "10",
                        "target": ["abc", "def"]
                      },
                      "defaultAccesses": ["room:write"],
                      "groupsAccesses": {
                        "marketing": ["room:write"]
                      },
                      "usersAccesses": {
                        "alice": ["room:write"],
                        "vinod": ["room:write"]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "operationId": "upsert-rooms-roomId",
        "description": "This endpoint updates specific properties of a room. Corresponds to [`liveblocks.upsertRoom`](/docs/api-reference/liveblocks-node#upsert-rooms-roomId). \n\nIt’s not necessary to provide the entire room’s information. \nSetting a property to `null` means to delete this property. For example, if you want to remove access to a specific user without losing other users: \n``{\n    \"usersAccesses\": {\n        \"john\": null\n    }\n}``\n`defaultAccessess`, `metadata`, `usersAccesses`, `groupsAccesses` can be updated.\n\n- `defaultAccessess` could be `[]` or `[\"room:write\"]` (private or public). \n- `metadata` could be key/value as `string` or `string[]`. `metadata` supports maximum 50 entries. Key length has a limit of 40 characters maximum. Value length has a limit of 256 characters maximum. `metadata` is optional field.\n- `usersAccesses` could be `[]` or `[\"room:write\"]` for every records. `usersAccesses` can contain 100 ids maximum. Id length has a limit of 256 characters. `usersAccesses` is optional field.\n- `groupsAccesses` could be `[]` or `[\"room:write\"]` for every records. `groupsAccesses` can contain 100 ids maximum. Id length has a limit of 256 characters. `groupsAccesses` is optional field.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRoom"
              },
              "examples": {
                "example": {
                  "value": {
                    "update": {
                      "usersAccesses": {
                        "vinod": ["room:write"],
                        "alice": ["room:write"]
                      },
                      "groupsAccesses": {
                        "marketing": ["room:write"]
                      },
                      "metadata": {
                        "color": "blue"
                      }
                    },
                    "create": {
                      "defaultAccesses": ["room:write"]
                    }
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/update-room-id": {
      "post": {
        "summary": "Update room ID",
        "tags": ["Room"],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "The new ID for the room"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the updated room with the new ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                },
                "examples": {
                  "example": {
                    "value": {
                      "type": "room",
                      "id": "react-todo-list",
                      "lastConnectionAt": "2022-08-04T21:07:09.380Z",
                      "createdAt": "2022-07-13T14:32:50.697Z",
                      "metadata": {
                        "color": "blue",
                        "size": "10",
                        "target": ["abc", "def"]
                      },
                      "defaultAccesses": ["room:write"],
                      "groupsAccesses": {
                        "marketing": ["room:write"]
                      },
                      "usersAccesses": {
                        "alice": ["room:write"],
                        "vinod": ["room:write"]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "operationId": "post-rooms-update-roomId",
        "description": "This endpoint permanently updates the room’s ID.",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "example": {
                  "value": {
                    "newRoomId": "new-room-id"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/active_users": {
      "get": {
        "summary": "Get active users",
        "tags": ["Room"],
        "operationId": "get-rooms-roomId-active-users",
        "description": "This endpoint returns a list of users currently present in the requested room. Corresponds to [`liveblocks.getActiveUsers`](/docs/api-reference/liveblocks-node#get-rooms-roomid-active-users). \n\nFor optimal performance, we recommend calling this endpoint no more than once every 10 seconds. \nDuplicates can occur if a user is in the requested room with multiple browser tabs opened.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the list of active users for the specified room.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveUsersResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "type": "user",
                          "connectionId": 16,
                          "id": "alice",
                          "info": {}
                        },
                        {
                          "type": "user",
                          "connectionId": 20,
                          "id": "bob",
                          "info": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/rooms/{roomId}/broadcast_event": {
      "post": {
        "summary": "Broadcast event to a room",
        "description": "This endpoint enables the broadcast of an event to a room without having to connect to it via the `client` from `@liveblocks/client`. It takes any valid JSON as a request body. The `connectionId` passed to event listeners is `-1` when using this API. Corresponds to [`liveblocks.broadcastEvent`](/docs/api-reference/liveblocks-node#post-broadcast-event).",
        "tags": ["Room"],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          }
        ],
        "operationId": "post-broadcast-event",
        "responses": {
          "204": {
            "description": "Success. An event was broadcast to the room."
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "description": "Any valid JSON.",
          "content": {
            "schema": {},
            "application/json": {
              "examples": {
                "example": {
                  "value": {
                    "type": "EMOJI",
                    "emoji": "🔥"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/storage": {
      "get": {
        "summary": "Get Storage document",
        "description": "Returns the contents of the room’s Storage tree.  Corresponds to [`liveblocks.getStorageDocument`](/docs/api-reference/liveblocks-node#get-rooms-roomId-storage). \n\nThe default outputted format is called “plain LSON”, which includes information on the Live data structures in the tree. These nodes show up in the output as objects with two properties, for example:\n\n```json\n{\n  \"liveblocksType\": \"LiveObject\",\n  \"data\": ...\n}\n```\n\nIf you’re not interested in this information, you can use the simpler `?format=json` query param, see below.",
        "tags": ["Storage"],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["plain-lson", "json"]
            },
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Use `?format=json` to output a simplified JSON representation of the Storage tree. In that format, each LiveObject and LiveMap will be formatted as a simple JSON object, and each LiveList will be formatted as a simple JSON array. This is a lossy format because information about the original data structures is not retained, but it may be easier to work with."
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the room’s Storage as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "liveblocksType": {
                      "type": "string"
                    },
                    "data": {
                      "type": ["string", "object"]
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "liveblocksType": "LiveObject",
                      "data": {
                        "aLiveObject": {
                          "liveblocksType": "LiveObject",
                          "data": {
                            "a": 1
                          }
                        },
                        "aLiveList": {
                          "liveblocksType": "LiveList",
                          "data": ["a", "b"]
                        },
                        "aLiveMap": {
                          "liveblocksType": "LiveMap",
                          "data": {
                            "a": 1,
                            "b": 2
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "operationId": "get-rooms-roomId-storage"
      },
      "post": {
        "summary": "Initialize Storage document",
        "tags": ["Storage"],
        "operationId": "post-rooms-roomId-storage",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The Storage is initialized. Returns the room’s Storage as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "liveblocksType": {
                      "type": "string"
                    },
                    "data": {
                      "type": ["string", "object"]
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "liveblocksType": "LiveObject",
                      "data": {
                        "aLiveObject": {
                          "liveblocksType": "LiveObject",
                          "data": {
                            "a": 1
                          }
                        },
                        "aLiveList": {
                          "liveblocksType": "LiveList",
                          "data": ["a", "b"]
                        },
                        "aLiveMap": {
                          "liveblocksType": "LiveMap",
                          "data": {
                            "a": 1,
                            "b": 2
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "Storage already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "CANNOT_UPDATE_EXISTING_STORAGE": {
                    "value": {
                      "error": "CANNOT_UPDATE_EXISTING_STORAGE",
                      "message": "The room already has storage data. It's only possible to initialize the storage for an empty room.",
                      "suggestion": "Create another room or clear this room storage first.",
                      "docs": ""
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This endpoint initializes or reinitializes a room’s Storage. The room must already exist. Calling this endpoint will disconnect all users from the room if there are any, triggering a reconnect. Corresponds to [`liveblocks.initializeStorageDocument`](/docs/api-reference/liveblocks-node#post-rooms-roomId-storage).\n\nThe format of the request body is the same as what’s returned by the get Storage endpoint.\n\nFor each Liveblocks data structure that you want to create, you need a JSON element having two properties:\n- `\"liveblocksType\"` => `\"LiveObject\" | \"LiveList\" | \"LiveMap\"`\n- `\"data\"` => contains the nested data structures (children) and data.\n\nThe root’s type can only be LiveObject.\n\nA utility function, `toPlainLson` is included in `@liveblocks/client` from `1.0.9` to help convert `LiveObject`, `LiveList`, and `LiveMap` to the structure expected by the endpoint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "liveblocksType": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object"
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "liveblocksType": "LiveObject",
                    "data": {
                      "aLiveObject": {
                        "liveblocksType": "LiveObject",
                        "data": {
                          "a": 1
                        }
                      },
                      "aLiveList": {
                        "liveblocksType": "LiveList",
                        "data": ["a", "b"]
                      },
                      "aLiveMap": {
                        "liveblocksType": "LiveMap",
                        "data": {
                          "a": 1,
                          "b": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Storage document",
        "tags": ["Storage"],
        "operationId": "delete-rooms-roomId-storage",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The room has no more Storage."
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "description": "This endpoint deletes all of the room’s Storage data. Calling this endpoint will disconnect all users from the room if there are any. Corresponds to [`liveblocks.deleteStorageDocument`](/docs/api-reference/liveblocks-node#delete-rooms-roomId-storage).\n"
      }
    },
    "/rooms/{roomId}/ydoc": {
      "get": {
        "summary": "Get Yjs document",
        "description": "This endpoint returns a JSON representation of the room’s Yjs document. Corresponds to [`liveblocks.getYjsDocument`](/docs/api-reference/liveblocks-node#get-rooms-roomId-ydoc).",
        "tags": ["Yjs"],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "formatting",
            "in": "query",
            "allowEmptyValue": true,
            "required": false,
            "description": "If present, YText will return formatting."
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "key",
            "in": "query",
            "required": false,
            "description": "Returns only a single key’s value, e.g. `doc.get(key).toJSON()`."
          },
          {
            "schema": {
              "type": "string",
              "enum": ["ymap", "ytext", "yxmltext", "yxmlfragment", "yarray"]
            },
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Used with key to override the inferred type, i.e. `\"ymap\"` will return `doc.get(key, Y.Map)`."
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the room’s Yjs document as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example": {
                    "value": {
                      "someYText": "Contents of YText"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "operationId": "get-rooms-roomId-ydoc"
      },
      "put": {
        "summary": "Send a binary Yjs update",
        "tags": ["Yjs"],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
          },
          {
            "name": "guid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID of the subdocument"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The given room’s Yjs doc has been updated.",
            "content": {
              "application/json": {
                "schema": {
                  "status": 200
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "operationId": "put-rooms-roomId-ydoc",
        "description": "This endpoint is used to send a Yjs binary update to the room’s Yjs document. You can use this endpoint to initialize Yjs data for the room or to update the room’s Yjs document. To send an update to a subdocument instead of the main document, pass its `guid`. Corresponds to [`liveblocks.sendYjsBinaryUpdate`](/docs/api-reference/liveblocks-node#put-rooms-roomId-ydoc).\n\nThe update is typically obtained by calling `Y.encodeStateAsUpdate(doc)`. See the [Yjs documentation](https://docs.yjs.dev/api/document-updates) for more details. When manually making this HTTP call, set the HTTP header `Content-Type` to `application/octet-stream`, and send the binary update (a `Uint8Array`) in the body of the HTTP request. This endpoint does not accept JSON, unlike most other endpoints.",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "array"
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/ydoc-binary": {
      "get": {
        "summary": "Get Yjs document encoded as a binary Yjs update",
        "description": "This endpoint returns the room's Yjs document encoded as a single binary update. This can be used by `Y.applyUpdate(responseBody)` to get a copy of the document in your back end. See [Yjs documentation](https://docs.yjs.dev/api/document-updates) for more information on working with updates. To return a subdocument instead of the main document, pass its `guid`. Corresponds to [`liveblocks.getYjsDocumentAsBinaryUpdate`](/docs/api-reference/liveblocks-node#get-rooms-roomId-ydoc-binary).",
        "tags": ["Yjs"],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "guid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID of the subdocument"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the room's Yjs document encoded as a binary Yjs update.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "array"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "operationId": "get-rooms-roomId-ydoc-binary"
      }
    },
    "/rooms/{roomId}/versions": {
      "get": {
        "summary": "Get Yjs version history",
        "description": "This endpoint returns a list of version history snapshots for the room's Yjs document. The versions are returned sorted by creation date, from newest to oldest.",
        "tags": ["Yjs"],
        "operationId": "get-rooms-roomId-versions",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "in": "query",
            "name": "limit",
            "description": "A limit on the number of versions to be returned. The limit can range between 1 and 100, and defaults to 20."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "description": "A cursor used for pagination. Get the value from the `nextCursor` response of the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the list of version history snapshots and the next page cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetYjsVersions"
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "type": "historyVersion",
                          "id": "vh_abc123",
                          "createdAt": "2024-10-15T10:30:00.000Z",
                          "authors": [
                            {
                              "id": "user-123"
                            },
                            {
                              "id": "user-456"
                            }
                          ],
                          "kind": "yjs"
                        }
                      ],
                      "nextCursor": "eyJjcmVhdGVkQXQiOiIyMDI0LTEwLTE1VDEwOjMwOjAwLjAwMFoifQ=="
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/rooms/{roomId}/version/{versionId}": {
      "get": {
        "summary": "Get Yjs document version",
        "description": "This endpoint returns a specific version of the room's Yjs document encoded as a binary Yjs update.",
        "tags": ["Yjs"],
        "operationId": "get-rooms-roomId-version-versionId",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the Yjs document version as a binary stream.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/rooms/{roomId}/version": {
      "post": {
        "summary": "Create Yjs version snapshot",
        "description": "This endpoint creates a new version history snapshot for the room's Yjs document.",
        "tags": ["Yjs"],
        "operationId": "post-rooms-roomId-version",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the created version ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateYjsVersion"
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": {
                        "id": "vh_abc123"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/rooms/{roomId}/threads": {
      "get": {
        "summary": "Get room threads",
        "description": "This endpoint returns the threads in the requested room. Corresponds to [`liveblocks.getThreads`](/docs/api-reference/liveblocks-node#get-rooms-roomId-threads).",
        "tags": ["Comments"],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "query",
            "description": "Query to filter threads. You can filter by `metadata` and `resolved`, for example, `metadata[\"status\"]:\"open\" AND metadata[\"color\"]:\"red\" AND resolved:true`. Learn more about [filtering threads with query language](/docs/guides/how-to-filter-threads-using-query-language)."
          }
        ],
        "operationId": "get-rooms-roomId-threads",
        "responses": {
          "200": {
            "description": "Success. Returns list of threads in a room.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "data": [
                        {
                          "type": "thread",
                          "id": "thread-id",
                          "roomId": "room-id",
                          "comments": [
                            {
                              "type": "comment",
                              "threadId": "thread-id",
                              "roomId": "room-id",
                              "id": "comment-id",
                              "userId": "string",
                              "createdAt": "2019-08-24T14:15:22Z",
                              "editedAt": "2019-08-24T14:15:22Z",
                              "deletedAt": "2019-08-24T14:15:22Z",
                              "body": {}
                            }
                          ],
                          "createdAt": "2019-08-24T14:15:22Z",
                          "metadata": {},
                          "updatedAt": "2019-08-24T14:15:22Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        }
      },
      "post": {
        "summary": "Create thread",
        "description": "This endpoint creates a new thread and the first comment in the thread. Corresponds to [`liveblocks.createThread`](/docs/api-reference/liveblocks-node#post-rooms-roomId-threads).\n\nA comment’s body is an array of paragraphs, each containing child nodes. Here’s an example of how to construct a comment’s body, which can be submitted under `comment.body`.\n\n```json\n\"version\": 1,\n\"content\": [\n  {\n    \"type\": \"paragraph\",\n    \"children\": [{ \"text\": \"Hello \" }, { \"text\": \"world\", \"bold\": true }]\n  }\n]\n```",
        "tags": ["Comments"],
        "operationId": "post-rooms-roomId-threads",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the created thread.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                },
                "examples": {
                  "example": {
                    "value": {
                      "type": "thread",
                      "id": "thread-id",
                      "roomId": "room-id",
                      "comments": [
                        {
                          "type": "comment",
                          "threadId": "thread-id",
                          "roomId": "room-id",
                          "id": "comment-id",
                          "userId": "alice",
                          "createdAt": "2022-07-13T14:32:50.697Z",
                          "body": {
                            "version": 1,
                            "content": []
                          }
                        }
                      ],
                      "createdAt": "2022-07-13T14:32:50.697Z",
                      "metadata": {
                        "color": "blue"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "409": {
            "$ref": "#/components/responses/409-thread"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThread"
              },
              "examples": {
                "example": {
                  "value": {
                    "comment": {
                      "userId": "alice",
                      "createdAt": "2022-07-13T14:32:50.697Z",
                      "body": {
                        "version": 1,
                        "content": []
                      }
                    },
                    "metadata": {
                      "color": "blue"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/threads/{threadId}": {
      "get": {
        "summary": "Get thread",
        "tags": ["Comments"],
        "description": "This endpoint returns a thread by its ID. Corresponds to [`liveblocks.getThread`](/docs/api-reference/liveblocks-node#get-rooms-roomId-threads-threadId).",
        "operationId": "get-rooms-roomId-threads-threadId",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns requested thread.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "thread",
                      "id": "thread-id",
                      "roomId": "room-id",
                      "comments": [
                        {
                          "type": "comment",
                          "threadId": "thread-id",
                          "roomId": "room-id",
                          "id": "comment-id",
                          "userId": "string",
                          "createdAt": "2019-08-24T14:15:22Z",
                          "editedAt": "2019-08-24T14:15:22Z",
                          "deletedAt": "2019-08-24T14:15:22Z",
                          "body": {}
                        }
                      ],
                      "createdAt": "2019-08-24T14:15:22Z",
                      "metadata": {},
                      "updatedAt": "2019-08-24T14:15:22Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        }
      },
      "delete": {
        "summary": "Delete thread",
        "tags": ["Comments"],
        "description": "This endpoint deletes a thread by its ID. Corresponds to [`liveblocks.deleteThread`](/docs/api-reference/liveblocks-node#delete-rooms-roomId-threads-threadId).",
        "operationId": "delete-rooms-roomId-threads-threadId",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          }
        ],
        "responses": {
          "204": {
            "description": "Success. The thread has been deleted."
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        }
      }
    },
    "/rooms/{roomId}/threads/{threadId}/participants": {
      "get": {
        "summary": "Get thread participants",
        "x-badge": "Deprecated",
        "tags": ["Deprecated"],
        "description": "**Deprecated.** Prefer using [thread subscriptions](#get-rooms-roomId-threads-threadId-subscriptions) instead.\n\nThis endpoint returns the list of thread participants. It is a list of unique user IDs representing all the thread comment authors and mentioned users in comments. Corresponds to [`liveblocks.getThreadParticipants`](/docs/api-reference/liveblocks-node#get-rooms-roomId-threads-threadId-participants).",
        "operationId": "get-rooms-roomId-threads-threadId-participants",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the thread’s participants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "participantIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "participantIds": ["user-1", "user-2"]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        }
      }
    },
    "/rooms/{roomId}/threads/{threadId}/metadata": {
      "post": {
        "summary": "Edit thread metadata",
        "tags": ["Comments"],
        "description": "This endpoint edits the metadata of a thread. The metadata is a JSON object that can be used to store any information you want about the thread, in `string`, `number`, or `boolean` form. Set a property to `null` to remove it. Corresponds to [`liveblocks.editThreadMetadata`](/docs/api-reference/liveblocks-node#post-rooms-roomId-threads-threadId-metadata).",
        "operationId": "post-rooms-roomId-threads-threadId-metadata",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the updated metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadMetadata"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "color": "yellow"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateThread"
              },
              "examples": {
                "example": {
                  "value": {
                    "metadata": {
                      "color": "yellow"
                    },
                    "userId": "alice",
                    "createdAt": "2023-07-13T14:32:50.697Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/threads/{threadId}/mark-as-resolved": {
      "post": {
        "summary": "Mark thread as resolved",
        "tags": ["Comments"],
        "description": "This endpoint marks a thread as resolved.",
        "operationId": "post-rooms-roomId-threads-threadId-mark-as-resolved",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the updated thread.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        }
      }
    },
    "/rooms/{roomId}/threads/{threadId}/mark-as-unresolved": {
      "post": {
        "summary": "Mark thread as unresolved",
        "tags": ["Comments"],
        "description": "This endpoint marks a thread as unresolved.",
        "operationId": "post-rooms-roomId-threads-threadId-mark-as-unresolved",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the updated thread.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        }
      }
    },
    "/rooms/{roomId}/threads/{threadId}/subscribe": {
      "post": {
        "summary": "Subscribe to thread",
        "tags": ["Comments"],
        "description": "This endpoint subscribes to a thread. Corresponds to [`liveblocks.subscribeToThread`](/docs/api-reference/liveblocks-node#post-rooms-roomId-threads-threadId-subscribe).",
        "operationId": "post-rooms-roomId-threads-threadId-subscribe",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId"],
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Returns the thread subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "roomId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "threadId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/rooms/{roomId}/threads/{threadId}/unsubscribe": {
      "post": {
        "summary": "Unsubscribe from thread",
        "tags": ["Comments"],
        "description": "This endpoint unsubscribes from a thread. Corresponds to [`liveblocks.unsubscribeFromThread`](/docs/api-reference/liveblocks-node#post-rooms-roomId-threads-threadId-unsubscribe).",
        "operationId": "post-rooms-roomId-threads-threadId-unsubscribe",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId"],
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "roomId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "threadId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/rooms/{roomId}/threads/{threadId}/subscriptions": {
      "get": {
        "summary": "Get thread subscriptions",
        "tags": ["Comments"],
        "description": "This endpoint gets the list of subscriptions to a thread. Corresponds to [`liveblocks.getThreadSubscriptions`](/docs/api-reference/liveblocks-node#get-rooms-roomId-threads-threadId-subscriptions).",
        "operationId": "get-rooms-roomId-threads-threadId-subscriptions",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserSubscription"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        },
        "x-internal": false
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "roomId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "threadId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/rooms/{roomId}/threads/{threadId}/comments": {
      "post": {
        "summary": "Create comment",
        "description": "This endpoint creates a new comment, adding it as a reply to a thread. Corresponds to [`liveblocks.createComment`](/docs/api-reference/liveblocks-node#post-rooms-roomId-threads-threadId-comments).\n\nA comment’s body is an array of paragraphs, each containing child nodes. Here’s an example of how to construct a comment’s body, which can be submitted under `body`.\n\n```json\n\"version\": 1,\n\"content\": [\n  {\n    \"type\": \"paragraph\",\n    \"children\": [{ \"text\": \"Hello \" }, { \"text\": \"world\", \"bold\": true }]\n  }\n]\n",
        "tags": ["Comments"],
        "operationId": "post-rooms-roomId-threads-threadId-comments",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the created comment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "example": {
                    "value": {
                      "type": "comment",
                      "threadId": "thread-id",
                      "roomId": "room-id",
                      "id": "comment-id",
                      "userId": "alice",
                      "createdAt": "2022-07-13T14:32:50.697Z",
                      "body": {
                        "version": 1,
                        "content": []
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          },
          "409": {
            "$ref": "#/components/responses/409-comment"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComment"
              },
              "examples": {
                "example": {
                  "value": {
                    "userId": "alice",
                    "createdAt": "2022-07-13T14:32:50.697Z",
                    "body": {
                      "version": 1,
                      "content": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/threads/{threadId}/comments/{commentId}": {
      "get": {
        "summary": "Get comment",
        "tags": ["Comments"],
        "description": "This endpoint returns a comment by its ID. Corresponds to [`liveblocks.getComment`](/docs/api-reference/liveblocks-node#get-rooms-roomId-threads-threadId-comments-commentId).",
        "operationId": "get-rooms-roomId-threads-threadId-comments-commentId",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the comment"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the requested comment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "comment",
                      "threadId": "thread-id",
                      "roomId": "room-id",
                      "id": "comment-id",
                      "userId": "alice",
                      "createdAt": "2019-08-24T14:15:22Z",
                      "editedAt": "2019-08-24T14:15:22Z",
                      "deletedAt": "2019-08-24T14:15:22Z",
                      "body": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          }
        }
      },
      "post": {
        "summary": "Edit comment",
        "description": "This endpoint edits the specified comment. Corresponds to [`liveblocks.editComment`](/docs/api-reference/liveblocks-node#post-rooms-roomId-threads-threadId-comments-commentId).\n\nA comment’s body is an array of paragraphs, each containing child nodes. Here’s an example of how to construct a comment’s body, which can be submitted under `body`.\n\n```json\n\"version\": 1,\n\"content\": [\n  {\n    \"type\": \"paragraph\",\n    \"children\": [{ \"text\": \"Hello \" }, { \"text\": \"world\", \"bold\": true }]\n  }\n]\n",
        "tags": ["Comments"],
        "operationId": "post-rooms-roomId-threads-threadId-comments-commentId",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the comment"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the edited comment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateComment"
                },
                "examples": {
                  "example": {
                    "value": {
                      "type": "comment",
                      "threadId": "thread-id",
                      "roomId": "room-id",
                      "id": "comment-id",
                      "userId": "alice",
                      "createdAt": "2023-07-13T14:32:50.697Z",
                      "body": {
                        "version": 1,
                        "content": []
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-thread"
          },
          "409": {
            "$ref": "#/components/responses/409-comment"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComment"
              },
              "examples": {
                "example": {
                  "value": {
                    "editedAt": "2023-07-13T14:32:50.697Z",
                    "body": {
                      "version": 1,
                      "content": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete comment",
        "tags": ["Comments"],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the comment"
          }
        ],
        "responses": {
          "204": {
            "description": "Success. The comment was deleted"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-comment"
          }
        },
        "operationId": "delete-rooms-roomId-threads-threadId-comments-commentId",
        "description": "This endpoint deletes a comment. A deleted comment is no longer accessible from the API or the dashboard and it cannot be restored. Corresponds to [`liveblocks.deleteComment`](/docs/api-reference/liveblocks-node#post-rooms-roomId-threads-threadId-comments-commentId)."
      }
    },
    "/rooms/{roomId}/threads/{threadId}/comments/{commentId}/add-reaction": {
      "post": {
        "summary": "Add comment reaction",
        "description": "This endpoint adds a reaction to a comment. Corresponds to [`liveblocks.addCommentReaction`](/docs/api-reference/liveblocks-node#post-rooms-roomId-threads-threadId-comments-commentId-add-reaction).",
        "tags": ["Comments"],
        "operationId": "post-rooms-roomId-threads-threadId-comments-commentId-add-reaction",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the comment"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the created reaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentReaction"
                },
                "examples": {
                  "example": {
                    "value": {
                      "emoji": "👨‍👩‍👧",
                      "createdAt": "2022-07-13T14:32:50.697Z",
                      "userId": "alice"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-comment"
          },
          "409": {
            "$ref": "#/components/responses/409-comment-reaction"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCommentReaction"
              },
              "examples": {
                "example": {
                  "value": {
                    "emoji": "👨‍👩‍👧",
                    "createdAt": "2022-07-13T14:32:50.697Z",
                    "userId": "alice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/threads/{threadId}/comments/{commentId}/remove-reaction": {
      "post": {
        "summary": "Remove comment reaction",
        "description": "This endpoint removes a comment reaction. A deleted comment reaction is no longer accessible from the API or the dashboard and it cannot be restored. Corresponds to [`liveblocks.removeCommentReaction`](/docs/api-reference/liveblocks-node#post-rooms-roomId-threads-threadId-comments-commentId-add-reaction).",
        "tags": ["Comments"],
        "operationId": "post-rooms-roomId-threads-threadId-comments-commentId-remove-reaction",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the room"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the thread"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the comment"
          }
        ],
        "responses": {
          "204": {
            "description": "Success. The comment reaction was deleted"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-comment-reaction"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCommentReaction"
              },
              "examples": {
                "example": {
                  "value": {
                    "emoji": "👨‍👩‍👧",
                    "userId": "alice",
                    "removedAt": "2022-07-13T14:32:50.697Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authorize-user": {
      "post": {
        "summary": "Get access token with secret key",
        "tags": ["Authentication"],
        "operationId": "post-authorize-user",
        "responses": {
          "200": {
            "description": "Success. Returns an access token that can be used to enter one or more rooms.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIi..."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeUserRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "userId": "user-123",
                    "userInfo": {
                      "name": "bob",
                      "avatar": "https://example.org/images/user123.jpg"
                    },
                    "permissions": {
                      "my-room-1": ["room:write"],
                      "my-room-2": ["room:write"],
                      "my-room-*": ["room:read"]
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This endpoint lets your application server (your back end) obtain a token that one of its clients (your frontend) can use to enter a Liveblocks room. You use this endpoint to implement your own application’s custom authentication endpoint. When making this request, you’ll have to use your secret key.\n\n**Important:** The difference with an [ID token](#post-identify-user) is that an access token holds all the permissions, and is the source of truth. With ID tokens, permissions are set in the Liveblocks back end (through REST API calls) and \"checked at the door\" every time they are used to enter a room.\n\n**Note:** When using the `@liveblocks/node` package, you can use [`Liveblocks.prepareSession`](/docs/api-reference/liveblocks-node#access-tokens) in your back end to build this request.\n\nYou can pass the property `userId` in the request’s body. This can be whatever internal identifier you use for your user accounts as long as it uniquely identifies an account. The property `userId` is used by Liveblocks to calculate your account’s Monthly Active Users. One unique `userId` corresponds to one MAU.\n\nAdditionally, you can set custom metadata to the token, which will be publicly accessible by other clients through the `user.info` property. This is useful for storing static data like avatar images or the user’s display name.\n\nLastly, you’ll specify the exact permissions to give to the user using the `permissions` field. This is done in an object where the keys are room names, or room name patterns (ending in a `*`), and a list of permissions to assign the user for any room that matches that name exactly (or starts with the pattern’s prefix). For tips, see [Manage permissions with access tokens](/docs/authentication/access-token)."
      }
    },
    "/identify-user": {
      "post": {
        "summary": "Get ID token with secret key",
        "tags": ["Authentication"],
        "operationId": "post-identify-user",
        "responses": {
          "200": {
            "description": "Success. Returns an ID token that can be used to enter one or more rooms.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIi..."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyUserRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "userId": "user-123",
                    "groupIds": ["marketing", "engineering"],
                    "userInfo": {
                      "name": "bob",
                      "avatar": "https://example.org/images/user123.jpg"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This endpoint lets your application server (your back end) obtain a token that one of its clients (your frontend) can use to enter a Liveblocks room. You use this endpoint to implement your own application’s custom authentication endpoint. When using this endpoint to obtain ID tokens, you should manage your permissions by assigning user and/or group permissions to rooms explicitly, see our [Manage permissions with ID tokens](/docs/authentication/id-token) section.\n\n**Important:** The difference with an [access token](#post-authorize-user) is that an ID token doesn’t hold any permissions itself. With ID tokens, permissions are set in the Liveblocks back end (through REST API calls) and \"checked at the door\" every time they are used to enter a room. With access tokens, all permissions are set in the token itself, and thus controlled from your back end entirely.\n\n**Note:** When using the `@liveblocks/node` package, you can use [`Liveblocks.identifyUser`](/docs/api-reference/liveblocks-node) in your back end to build this request.\n\nYou can pass the property `userId` in the request’s body. This can be whatever internal identifier you use for your user accounts as long as it uniquely identifies an account. The property `userId` is used by Liveblocks to calculate your account’s Monthly Active Users. One unique `userId` corresponds to one MAU.\n\nIf you want to use group permissions, you can also declare which `groupIds` this user belongs to. The group ID values are yours, but they will have to match the group IDs you assign permissions to when assigning permissions to rooms, see [Manage permissions with ID tokens](/docs/authentication/id-token)).\n\nAdditionally, you can set custom metadata to the token, which will be publicly accessible by other clients through the `user.info` property. This is useful for storing static data like avatar images or the user’s display name."
      }
    },
    "/rooms/{roomId}/authorize": {
      "post": {
        "summary": "Get single-room token with secret key",
        "x-badge": "Deprecated",
        "description": "**Deprecated.** Prefer using [access tokens](#post-authorize-user) or [ID tokens](#post-identify-user) instead. Read more in our [migration guide](/docs/platform/upgrading/1.2).\n\nThis endpoint lets your application server (your back end) obtain a token that one of its clients (your frontend) can use to enter a Liveblocks room. You use this endpoint to implement your own application’s custom authentication endpoint. When making this request, you’ll have to use your secret key.\n\nYou can pass the property `userId` in the request’s body. This can be whatever internal identifier you use for your user accounts as long as it uniquely identifies an account. Setting the `userId` is optional if you want to use public rooms, but it is required to enter a private room (because permissions are assigned to specific user IDs). In case you want to use the group permission system, you can also declare which `groupIds` this user belongs to.\n\nThe property userId is used by Liveblocks to calculate your account’s Monthly Active Users. One unique userId corresponds to one MAU. If you don’t pass a userId, we will create for you a new anonymous userId on each connection, but your MAUs will be higher.\n\nAdditionally, you can set custom metadata to the token, which will be publicly accessible by other clients through the `user.info` property. This is useful for storing static data like avatar images or the user’s display name.",
        "tags": ["Deprecated"],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room"
[...]
