.container {
  --color-background: #f3f3f3;
  --color-primary: #4c00ff;
}

.canvas {
  background-color: var(--color-background);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.colorpicker,
.colorpicker_active {
  position: absolute;
  top: 24px;
  right: 24px;
}

.colorpicker {
  opacity: 0;
}

.colorpicker_active {
  opacity: 1;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  place-content: center;
  place-items: center;
  background: var(--color-background);
}

.loading img {
  width: 64px;
  height: 64px;
  opacity: 0.2;
}
