.cell {
  --cell-selection-z-index: 50;
  --cell-top-left-radius: 0;
  --cell-top-right-radius: 0;
  --cell-bottom-left-radius: 0;
  --cell-bottom-right-radius: 0;

  position: relative;
  padding: 0px;
  width: var(--cell-width);
  height: var(--cell-height);
  border: var(--border) solid var(--gray-100);
  cursor: cell;
}

.cell:before,
.cell:after {
  content: "";
  position: absolute;
  inset: 0px;
  pointer-events: none;
}

:global(.dragging) .cell:before,
:global(.dragging) .cell:after,
:global(.dragging) .user {
  display: none;
}

.cell:before {
  box-shadow: 0 2px 6px var(--cell-selection);
  z-index: calc(var(--cell-selection-z-index) - 10);
  opacity: 0.3;
}

.cell:after {
  box-shadow: 0 0 0 2px var(--cell-selection);
  z-index: var(--cell-selection-z-index);
}

.cell:global(.editing):before {
  box-shadow: 0 2px 12px var(--cell-selection),
    0px 2px 12px rgb(31, 41, 55, 0.3), 0px 6px 32px -2px rgb(31, 41, 55, 0.2);
}

.cell:global(.selected):before {
  z-index: var(--cell-selection-z-index);
}

.cell:global(.selected):after {
  z-index: calc(var(--cell-selection-z-index) + 10);
}

.user {
  --user-height: 16px;
  --user-padding: 4px;

  position: absolute;
  display: flex;
  place-items: center;
  top: calc((var(--border) + var(--user-height)) * -1);
  left: calc(var(--border) * -1);
  height: calc(var(--user-height) + var(--radius));
  padding: 1px var(--user-padding) var(--radius) var(--user-padding);
  background: var(--cell-selection);
  border-top-left-radius: calc(
    var(--radius) / 2 + var(--cell-top-left-radius) * var(--radius) / 2 +
      var(--border)
  );
  border-top-right-radius: calc(
    var(--radius) / 2 + var(--cell-top-right-radius) * var(--radius) / 2 +
      var(--border)
  );
  max-width: calc(100% + 2 * var(--border));
  transform: translateY(var(--user-height));
  pointer-events: none;
  transition: transform 0.12s ease-in-out;
  z-index: 1;
}

.user_avatar {
  flex: none;
  width: calc(var(--user-height) - 4px);
  height: calc(var(--user-height) - 4px);
  border-radius: 50%;
  overflow: hidden;
  margin-right: var(--user-padding);
  margin-top: 1px;
}

.user_label {
  font-size: 10px;
  font-weight: 500;
  color: var(--white);
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

.cell:not(:global(.selected)):hover .user {
  transform: translateY(0);
}

.cell:global(.selected) .user {
  display: none;
}

.content {
  position: absolute;
  inset: 0px;
  overflow: hidden;
  background: var(--gray-0);
  pointer-events: none;
  z-index: 1;
}

.cell:global(.selected-other) .content {
  z-index: calc(var(--cell-selection-z-index) - 5);
}

.value {
  --value-padding: 10px;
  --value-type-padding: 4px;
  --value-type-size: calc(
    var(--row-height) - var(--border) - var(--value-type-padding) * 2
  );

  position: absolute;
  inset: 0px;
  padding: 0px var(--value-padding);
  overflow: hidden;
  white-space: nowrap;
  line-height: var(--cell-height);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  z-index: 1;
  color: var(--gray-800);
  font-size: 13px;
  user-select: none;
  text-align: left;
  outline: none;
  cursor: text;
}

.value:global(.numerical) {
  text-align: right;
}

.cell:global(.selected) .value,
.cell:global(.editing) .value {
  pointer-events: auto;
}

.cell:global(.selected):not(:global(.editing)) .value {
  padding-left: calc(var(--value-type-size) + var(--value-type-padding) * 4);
}

.cell:global(.editing) .value {
  user-select: all;
  text-align: left;
}

.value_type {
  position: absolute;
  display: flex;
  place-content: center;
  place-items: center;
  top: calc(50% - var(--value-type-size) / 2);
  left: calc(var(--value-type-padding) * 2);
  color: var(--cell-selection);
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 11px;
  width: var(--value-type-size);
  aspect-ratio: 1;
  line-height: normal;
}

.value_type:global(.scrubbable) {
  cursor: ew-resize;
  touch-action: none;
}

.value_content {
  display: inline-block;
  position: relative;
}

.value_content:before {
  --display-highlight-height: calc(1em + 6px);

  content: "";
  position: absolute;
  top: calc(50% - var(--display-highlight-height) / 2);
  height: var(--display-highlight-height);
  left: -4px;
  right: -4px;
  background: rgba(31, 41, 55, 0.08);
  z-index: -1;
  border-radius: 4px;
  pointer-events: none;
  opacity: var(--display-highlight-opacity, 0);
  will-change: opacity;
}

.cell:global(.selected) {
  z-index: calc(var(--cell-selection-z-index) + 15);
}

.error {
  position: absolute;
  inset: 0px;
  display: flex;
  place-content: center;
  place-items: center;
}

.content,
.cell:before,
.cell:after {
  border-top-left-radius: calc(
    var(--radius) / 2 + var(--cell-top-left-radius) * var(--radius) / 2
  );
  border-top-right-radius: calc(
    var(--radius) / 2 + var(--cell-top-right-radius) * var(--radius) / 2
  );
  border-bottom-left-radius: calc(
    var(--radius) / 2 + var(--cell-bottom-left-radius) * var(--radius) / 2
  );
  border-bottom-right-radius: calc(
    var(--radius) / 2 + var(--cell-bottom-right-radius) * var(--radius) / 2
  );
}

.cell :global(.token) {
  caret-color: var(--gray-800);
  margin: 0 0.1em;
  color: var(--token-color, currentColor);
}

.cell :global(.token):first-of-type {
  margin-left: 0;
}

.cell :global(.token):last-of-type {
  margin-right: 0;
}

.cell :global(.token):global(.equal),
.cell :global(.token):global(.plus),
.cell :global(.token):global(.minus),
.cell :global(.token):global(.asterisk),
.cell :global(.token):global(.slash),
.cell :global(.token):global(.mod),
.cell :global(.token):global(.colon),
.cell :global(.token):global(.caret),
.cell :global(.token):global(.open-parenthesis),
.cell :global(.token):global(.close-parenthesis) {
  display: inline-block;
  color: var(--gray-400);
}

.cell :global(.token):global(.cell) {
  font-weight: 600;
}
