.cell {
  --cell-top-left-radius: 0;
  --cell-top-right-radius: 0;
  --cell-bottom-left-radius: 0;
  --cell-bottom-right-radius: 0;
  --cell-selection-z-index: 50;

  position: relative;
  padding: 0px;
  border: var(--border) solid #f3f4f6;
  cursor: cell;
}

.cell:before,
.cell:after {
  content: "";
  position: absolute;
  inset: 0px;
  pointer-events: none;
}

.cell:before {
  box-shadow: 0 2px 6px var(--cell-selection);
  z-index: calc(var(--cell-selection-z-index) - 1);
  opacity: 0.3;
}

.cell:after {
  box-shadow: 0 0 0 2px var(--cell-selection);
  z-index: var(--cell-selection-z-index);
}

.cell:focus-within:before,
.cell:focus-within:after {
  --cell-selection: var(--accent);
}

.cell:focus-within:before {
  z-index: var(--cell-selection-z-index);
}

.cell:focus-within:after {
  z-index: calc(var(--cell-selection-z-index) + 1);
}

.input {
  all: unset;
  position: absolute;
  inset: 0px;
  padding: 7px 9px;
  background: #fff;
}

.input:focus {
  /* TODO: Same should apply to any cell that has a selection */
  z-index: 100;
}

.input,
.cell:before,
.cell:after {
  border-top-left-radius: calc(
    var(--radius) / 4 + var(--cell-top-left-radius) * var(--radius) / 2
  );
  border-top-right-radius: calc(
    var(--radius) / 4 + var(--cell-top-right-radius) * var(--radius) / 2
  );
  border-bottom-left-radius: calc(
    var(--radius) / 4 + var(--cell-bottom-left-radius) * var(--radius) / 2
  );
  border-bottom-right-radius: calc(
    var(--radius) / 4 + var(--cell-bottom-right-radius) * var(--radius) / 2
  );
}
