.menu {
  --menu-inset: 4px;
  --menu-item-height: 30px;
  --menu-item-radius: 6px;
  --menu-background: var(--gray-0);

  border-radius: calc(var(--menu-item-radius) + var(--menu-inset));
  padding: var(--menu-inset);
  user-select: none;
  background: var(--menu-background);
  box-shadow: 0px 0px 0px 1px rgb(31, 41, 55, 0.04),
    0px 2px 6px rgb(31, 41, 55, 0.08), 0px 8px 24px -2px rgb(31, 41, 55, 0.16);
  z-index: 1000;
}

.item {
  height: var(--menu-item-height);
  border-radius: var(--menu-item-radius);
  padding: 0 8px 0 calc(var(--menu-item-height) + 2px);
  display: flex;
  place-items: center;
  font-size: 14px;
  color: var(--gray-700);
  cursor: pointer;
  outline: none;
}

.item:focus {
  background: var(--accent);
  color: var(--white);
}

.item[data-disabled] {
  color: var(--gray-300);
  cursor: default;
}

.icon {
  display: block;
  position: absolute;
  left: calc(var(--menu-inset) + 6px);
  align-self: center;
  opacity: 0.6;
}

.separator {
  height: var(--border);
  margin: var(--menu-inset) calc(var(--menu-inset) * -1);
  background: var(--gray-100);
}
