.tooltip {
  --tooltip-background: var(--gray-800);

  color: var(--white);
  background: var(--tooltip-background);
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 12px;
  z-index: 10000;
}

.arrow {
  fill: var(--tooltip-background);
}
