.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 680px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h1 {
  font-size: 16px;
  font-weight: 500;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
