.noteHeader {
  position: relative;
}

.noteHeader:hover .buttonRow {
  display: flex;
  opacity: 1;
}

.buttonRow {
  display: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.buttonRow {
  margin: 0 auto;
  max-width: var(--note-editor-width);
  padding: 0 var(--note-editor-horizontal-padding);
  display: flex;
  padding-top: var(--space-8);
}

.buttonRow > :first-child {
  margin-left: -12px;
}

.coverPopover {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--space-4);
  gap: var(--space-3);
}

.coverPopoverItem {
  height: var(--space-14);
  width: var(--space-16);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--color-surface);
  opacity: 0.5;
  cursor: pointer;
}

.coverPopoverItem[data-active="true"] {
  opacity: 1;
}

.coverPopoverItem svg {
  height: 100%;
  width: 100%;
  color: var(--color-text-primary);
}
