.noteHeader {
  position: relative;
}

.cover {
  height: 200px;
}

.justIcon {
  height: 80px;
}

.buttonRow {
  position: relative;
  max-width: var(--note-editor-width);
  display: flex;
  margin: 0 auto;
  padding: var(--space-8) var(--note-editor-horizontal-padding) 0;
  min-height: 70px;
}

.buttonRow[data-icon="true"] {
  padding-top: 100px;
  margin-top: -60px;
}

.buttonRow > button {
  margin-left: -12px;
  margin-right: 12px;
}

.buttonRowButton {
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
}

.buttonRow[data-popover-open="true"] .buttonRowButton,
.noteHeader:hover .buttonRowButton {
  opacity: 1;
}

.iconButton {
  height: var(--space-13);
  width: var(--space-18);
  position: absolute;
  bottom: var(--space-14);
  left: var(--note-editor-horizontal-padding);
}

.iconButtonIcon,
.readOnlyIcon {
  isolation: isolate;
  font-size: 64px;
  line-height: 1;
  aspect-ratio: 1 / 1;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--space-2);
  border-radius: var(--radius-sm);
  transition: background-color 0.1s ease-in-out;
}

.readOnlyIcon {
  left: var(--note-editor-horizontal-padding);
  bottom: var(--space-14);
}

.iconButtonIcon:hover:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #86868622;
  border-radius: var(--radius-sm);
  z-index: -1;
}

.coverPopover {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: var(--space-4);
  gap: var(--space-3);
}

.coverPopoverItem,
.buttonRemove {
  height: var(--space-13);
  width: var(--space-13);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-xs);
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.coverPopoverItem {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.coverPopoverItem[data-active],
.coverPopoverItem:hover {
  opacity: 1;
}

.buttonRemove:hover {
  background-color: var(--color-surface-hover);
  opacity: 1;
}

.buttonRemove svg {
  height: 100%;
  width: 100%;
  color: var(--color-text-primary);
}
