.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 2 * var(--margin));
  max-height: calc(100vh - 2 * var(--margin));
  background: #f3f4f6;
  border-radius: calc(var(--radius) + var(--padding) * 0.8);
  overflow: hidden;
}

.banner {
  --banner-height: 32px;

  flex: none;
  display: flex;
  padding: var(--padding);
  border-bottom: var(--border) solid #e9ebef;
}

.buttons {
  display: flex;
  flex: none;
  height: var(--banner-height);
  margin-right: var(--padding);
}

.button_group {
  display: flex;
}

.button_group:not(:last-child):after {
  content: "";
  display: block;
  align-self: center;
  width: var(--border);
  border-radius: var(--border);
  height: calc(var(--banner-height) - var(--padding) * 2);
  background: #e9ebef;
  margin: 0 var(--padding);
}

.button {
  all: unset;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: var(--radius);
  color: #6b7280;
  cursor: pointer;
  padding: 0px 6px;
  font-size: 13px;
}

.button span {
  margin-left: 4px;
  margin-right: 2px;
}

.button:hover {
  background: #e9ebef;
}

.avatars {
  display: flex;
  place-items: center;
  flex: none;
  margin-left: auto;
}

.avatar:not(:first-child) {
  margin-left: calc(-0.25 * var(--row-height));
}

.avatar {
  width: calc(var(--banner-height) - var(--padding) / 2);
  height: calc(var(--banner-height) - var(--padding) / 2);
  background: #f3f4f6;
  box-shadow: 0 0 0 var(--border) #f3f4f6;
}

.loading {
  width: 64px;
  height: 64px;
  opacity: 0.2;
}
