:root {
  --lb-background: #fff;
  --lb-foreground: #000;
  --lb-accent: #08f;
  --lb-accent-foreground: #fff;
  --lb-radius: 0.5em;
  --lb-spacing: 1rem;
}

/**
 * Avatar
 */

.lb-avatar {
  position: relative;
  container: avatar / inline-size;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: var(--lb-radius);
  background: color-mix(in srgb, var(--lb-foreground), transparent 90%);
  font-size: 1rem;
}

.lb-avatar\:round {
  border-radius: 50%;
}

.lb-avatar-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.lb-avatar-fallback {
  color: color-mix(in srgb, var(--lb-foreground), transparent 60%);
  font-size: 35cqw;
  white-space: nowrap;
}

/**
 * Composer
 */

.lb-composer {
  font-size: 1rem;
}

/**
 * Comment
 */

.lb-comment {
  --lb-comment-avatar-size: 1.75rem;

  position: relative;
  background: var(--lb-background);
  color: var(--lb-foreground);
  font-weight: 400;
  font-size: 1rem;
}

.lb-comment-header {
  position: relative;
  display: flex;
  gap: calc(0.75 * var(--lb-spacing));
  align-items: center;
}

.lb-comment-info {
  display: flex;
  gap: calc(0.75 * var(--lb-spacing));
  align-items: center;
}

.lb-comment-avatar {
  width: var(--lb-comment-avatar-size);
}

.lb-comment\:indent-body .lb-comment-avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.lb-comment-info-labels {
  display: flex;
  gap: calc(0.5 * var(--lb-spacing));
  align-items: baseline;
}

.lb-comment\:indent-body .lb-comment-info-labels {
  margin-left: calc(var(--lb-comment-avatar-size) + 0.75 * var(--lb-spacing));
}

.lb-comment-user {
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lb-comment-date {
  color: color-mix(in srgb, var(--lb-foreground), transparent 40%);
  font-size: 0.85em;
}

.lb-comment-actions {
  margin-left: auto;
}

.lb-comment-body {
  color: color-mix(in srgb, var(--lb-foreground), transparent 20%);
  text-wrap: pretty;
}

.lb-comment\:indent-body .lb-comment-body {
  padding-left: calc(var(--lb-comment-avatar-size) + 0.75 * var(--lb-spacing));
}

.lb-comment-mention {
  color: var(--lb-accent);
  font-weight: 500;
}
