:root {
  /* Basics */
  --lb-background: #fff;
  --lb-foreground: #000;
  --lb-accent: #08f;
  --lb-accent-foreground: #fff;
  --lb-radius: 0.5em;
  --lb-spacing: 1rem;
  --lb-stroke: 1.5px;

  /* More specific */
  --lb-avatar-radius: var(--lb-radius);
  --lb-button-size: 1.75rem;
  --lb-dropdown-background: #fff;
}

/**
 * Button
 */

.lb-button {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: var(--lb-button-size);
  padding: 0;
  border: none;
  border-radius: 50%;
  background: transparent;
  color: color-mix(in srgb, var(--lb-foreground), var(--lb-background) 60%);
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background: color-mix(
      in srgb,
      var(--lb-foreground),
      var(--lb-background) 95%
    );
  }

  &:focus-visible {
    box-shadow:
      var(--lb-background) 0 0 0 2px,
      var(--lb-accent) 0 0 0 4px;
  }

  & svg {
    stroke-width: var(--lb-stroke);
  }
}

/**
 * Dropdown
 * TODO: Rename to share with mentions autocomplete (any floating sheet)
 */

.lb-dropdown {
  padding: 4px;
  border-radius: var(--lb-radius);
  background: var(--lb-background);
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 8%),
    0 8px 26px rgb(0 0 0 / 16%);
}

.lb-dropdown-item {
  display: flex;
  align-items: center;
  padding: calc(0.25 * var(--lb-spacing)) calc(0.5 * var(--lb-spacing));
  border-radius: calc(var(--lb-radius) - 4px);
  outline: none;
  cursor: pointer;

  &[data-highlighted] {
    background: var(--lb-accent);
    color: var(--lb-accent-foreground);
  }

  & svg {
    margin-inline-start: calc(-4px + 0.125 * var(--lb-spacing));
    margin-inline-end: calc(0.5 * var(--lb-spacing));
  }
}

/**
 * Avatar
 */

.lb-avatar {
  position: relative;
  container: avatar / inline-size;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: var(--lb-avatar-radius);
  background: color-mix(
    in srgb,
    var(--lb-foreground),
    var(--lb-background) 90%
  );
  font-size: 1rem;
}

.lb-avatar-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.lb-avatar-fallback {
  color: color-mix(in srgb, var(--lb-foreground), var(--lb-background) 60%);
  font-size: 35cqw;
  font-weight: 500;
  white-space: nowrap;
}

/**
 * Composer
 */

.lb-composer {
  background: var(--lb-background);
  font-size: 1rem;
}

.lb-composer-editor {
  outline: none;
  padding: var(--lb-spacing);
}

.lb-composer-menu {
  display: flex;
  height: calc(var(--lb-button-size) + var(--lb-spacing));
  gap: calc(0.75 * var(--lb-spacing));
  align-items: center;
  padding: 0 var(--lb-spacing) var(--lb-spacing);
}

.lb-composer-actions,
.lb-composer-editor-actions {
  display: flex;
  gap: calc(0.5 * var(--lb-spacing));
  align-items: center;
}

.lb-composer-editor-actions {
  margin-inline-end: auto;
}

.lb-composer-logo {
  height: calc(0.75 * var(--lb-button-size));
  color: color-mix(in srgb, var(--lb-foreground), var(--lb-background) 60%);
}

/**
 * Comment
 */

.lb-comment {
  --lb-comment-avatar-size: 2.5rem;

  position: relative;
  background: var(--lb-background);
  color: var(--lb-foreground);
  font-weight: 400;
  font-size: 1rem;
}

.lb-comment-header {
  position: relative;
  display: flex;
  gap: calc(0.75 * var(--lb-spacing));
  align-items: center;
  height: var(--lb-comment-avatar-size);
}

.lb-comment-info {
  display: flex;
  gap: calc(0.75 * var(--lb-spacing));
  align-items: center;
}

.lb-comment-avatar {
  width: var(--lb-comment-avatar-size);
}

/* TODO: Find better class name */
.lb-comment-info-labels {
  display: flex;
  gap: calc(0.5 * var(--lb-spacing));
  align-items: baseline;
}

.lb-comment-user {
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lb-comment-date {
  color: color-mix(in srgb, var(--lb-foreground), var(--lb-background) 40%);
  font-size: 0.85em;
}

.lb-comment-actions {
  display: flex;
  gap: calc(0.5 * var(--lb-spacing));
  margin-inline-start: auto;
}

.lb-comment-body {
  color: color-mix(in srgb, var(--lb-foreground), var(--lb-background) 20%);
  margin-block-start: calc(0.75 * var(--lb-spacing));
}

/* Prevent empty lines from collapsing */
.lb-comment-body p span:only-child:empty::before {
  content: "\FEFF";
  user-select: none;
}

.lb-comment\:indent-body {
  min-height: var(--lb-comment-avatar-size);

  & .lb-comment-header {
    height: var(--lb-button-size);
  }

  & .lb-comment-avatar {
    position: absolute;
    top: 0;
    left: 0;
  }

  & .lb-comment-info-labels {
    margin-inline-start: calc(
      var(--lb-comment-avatar-size) + 0.75 * var(--lb-spacing)
    );
  }

  & .lb-comment-body {
    padding-inline-start: calc(
      var(--lb-comment-avatar-size) + 0.75 * var(--lb-spacing)
    );
  }
}

/**
 * Body 
 */

.lb-comment-body p,
.lb-composer-editor p {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;

  &:first-of-type {
    margin-block-start: 0;
  }

  &:last-of-type {
    margin-block-end: 0;
  }
}

.lb-comment-mention,
.lb-composer-mention {
  color: var(--lb-accent);
  font-weight: 500;
}
