@import "./utils";
@import "./constants";

:where(:root) {
  // Basic
  --lb-radius: 0.5em;
  --lb-spacing: 1em;
  --lb-accent: #17f;
  --lb-accent-foreground: #fff;
  --lb-background: #fff;
  --lb-foreground: #111;
  --lb-elevation-background: var(--lb-background);
  --lb-elevation-foreground: var(--lb-foreground);
  --lb-tooltip-background: #222;
  --lb-tooltip-foreground: #fff;

  // Advanced
  --lb-icon-size: 20px;
  --lb-icon-weight: 1.5px;
  --lb-avatar-radius: 50%;
  --lb-button-radius: calc(0.75 * var(--lb-radius));
  --lb-elevation-shadow: #{$lb-elevation-shadow};
  --lb-tooltip-shadow: #{$lb-tooltip-shadow};
  --lb-transition-duration: 0.1s;
  --lb-transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --lb-accent-contrast: 8%;
  --lb-foreground-contrast: 6%;
  --lb-elevation-foreground-contrast: 6%;
  --lb-tooltip-foreground-contrast: 18%;

  // Colors
  --lb-accent-subtle: #{color-scale(
      var(--lb-background),
      var(--lb-accent),
      var(--lb-accent-contrast),
      100
    )};
  --lb-accent-moderate: #{color-scale(
      var(--lb-background),
      var(--lb-accent),
      var(--lb-accent-contrast),
      400
    )};
  --lb-accent-tertiary: #{color-scale(
      var(--lb-background),
      var(--lb-accent),
      var(--lb-accent-contrast),
      600
    )};
  --lb-accent-secondary: #{color-scale(
      var(--lb-background),
      var(--lb-accent),
      var(--lb-accent-contrast),
      800
    )};
  --lb-foreground-subtle: #{color-scale(
      var(--lb-background),
      var(--lb-foreground),
      var(--lb-foreground-contrast),
      100
    )};
  --lb-foreground-moderate: #{color-scale(
      var(--lb-background),
      var(--lb-foreground),
      var(--lb-foreground-contrast),
      400
    )};
  --lb-foreground-tertiary: #{color-scale(
      var(--lb-background),
      var(--lb-foreground),
      var(--lb-foreground-contrast),
      600
    )};
  --lb-foreground-secondary: #{color-scale(
      var(--lb-background),
      var(--lb-foreground),
      var(--lb-foreground-contrast),
      800
    )};
  --lb-elevation-foreground-subtle: #{color-scale(
      var(--lb-elevation-background),
      var(--lb-elevation-foreground),
      var(--lb-elevation-foreground-contrast),
      100
    )};
  --lb-elevation-foreground-moderate: #{color-scale(
      var(--lb-elevation-background),
      var(--lb-elevation-foreground),
      var(--lb-elevation-foreground-contrast),
      400
    )};
  --lb-elevation-foreground-tertiary: #{color-scale(
      var(--lb-elevation-background),
      var(--lb-elevation-foreground),
      var(--lb-elevation-foreground-contrast),
      600
    )};
  --lb-elevation-foreground-secondary: #{color-scale(
      var(--lb-elevation-background),
      var(--lb-elevation-foreground),
      var(--lb-elevation-foreground-contrast),
      800
    )};
  --lb-tooltip-foreground-subtle: #{color-scale(
      var(--lb-tooltip-background),
      var(--lb-tooltip-foreground),
      var(--lb-tooltip-foreground-contrast),
      100
    )};
  --lb-tooltip-foreground-moderate: #{color-scale(
      var(--lb-tooltip-background),
      var(--lb-tooltip-foreground),
      var(--lb-tooltip-foreground-contrast),
      400
    )};
  --lb-tooltip-foreground-tertiary: #{color-scale(
      var(--lb-tooltip-background),
      var(--lb-tooltip-foreground),
      var(--lb-tooltip-foreground-contrast),
      600
    )};
  --lb-tooltip-foreground-secondary: #{color-scale(
      var(--lb-tooltip-background),
      var(--lb-tooltip-foreground),
      var(--lb-tooltip-foreground-contrast),
      800
    )};
}

.lb-root {
  overflow-wrap: break-word;
  accent-color: var(--lb-accent);
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
}

/**
 * Icon
 */

.lb-icon {
  --lb-icon-background: var(--lb-background);

  width: var(--lb-icon-size);
  height: var(--lb-icon-size);
  stroke-width: var(--lb-icon-weight);
}

/**
 * Button
 */

.lb-button {
  --lb-button-background: var(--lb-background);

  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  padding: calc(0.25 * var(--lb-spacing));
  border-radius: var(--lb-button-radius);
  background: var(--lb-button-background);
  color: var(--lb-foreground-moderate);
  outline: none;
  cursor: pointer;
  transition-timing-function: var(--lb-transition-easing);
  transition-duration: var(--lb-transition-duration);
  transition-property: background, color, box-shadow, opacity;
  -webkit-tap-highlight-color: transparent;

  &:focus-visible {
    box-shadow:
      var(--lb-background) 0 0 0 2px,
      var(--lb-accent) 0 0 0 4px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:enabled:hover,
  &:enabled:focus-visible,
  &[aria-expanded="true"] {
    --lb-button-background: var(--lb-foreground-subtle);

    color: var(--lb-foreground-tertiary);
  }
}

.lb-button.lb-button\:primary {
  --lb-button-background: var(--lb-accent);

  color: var(--lb-accent-foreground);

  &:enabled:hover,
  &:enabled:focus-visible {
    --lb-button-background: var(--lb-accent-secondary);

    color: var(--lb-accent-foreground);
  }
}

.lb-button-icon {
  --lb-icon-background: var(--lb-button-background);
}

/**
 * Elevation
 */

.lb-elevation {
  background: var(--lb-elevation-background);
  box-shadow: var(--lb-elevation-shadow);
}

/**
 * Elevation lists
 */

.lb-dropdown,
.lb-composer-suggestions {
  padding: $lb-elevation-list-padding;
  border-radius: var(--lb-radius);
}

.lb-dropdown-item,
.lb-composer-suggestions-list-item {
  display: flex;
  align-items: center;
  padding: calc(0.25 * var(--lb-spacing)) calc(0.5 * var(--lb-spacing));
  border-radius: calc(var(--lb-radius) - 0.75 * #{$lb-elevation-list-padding});
  color: var(--lb-elevation-foreground-secondary);
  outline: none;
  font-size: 0.875rem;
  cursor: pointer;
  transition-timing-function: var(--lb-transition-easing);
  transition-duration: var(--lb-transition-duration);
  transition-property: background, color, opacity;

  &[data-highlighted],
  &[data-selected] {
    background: var(--lb-elevation-foreground-subtle);
    transition-duration: calc(var(--lb-transition-duration) / 2);
  }
}

/**
 * Elevation lists and tooltip
 */

.lb-dropdown,
.lb-composer-suggestions,
.lb-tooltip {
  animation-duration: var(--lb-transition-duration);
  animation-timing-function: var(--lb-transition-easing);
  will-change: transform, opacity;
}

.lb-dropdown,
.lb-tooltip[data-state="delayed-open"] {
  &[data-side="top"] {
    animation-name: lb-animation-slide-up;
  }

  &[data-side="bottom"] {
    animation-name: lb-animation-slide-down;
  }
}

.lb-dropdown,
.lb-tooltip {
  &[data-state="closed"] {
    animation-name: lb-animation-disappear;
  }
}

// TODO: Support exit animations like Radix' Dropdown and Tooltip with data-state="closed"
.lb-composer-suggestions {
  &[data-side="top"] {
    animation-name: lb-animation-slide-up;
  }

  &[data-side="bottom"] {
    animation-name: lb-animation-slide-down;
  }
}

@media (prefers-reduced-motion) {
  .lb-dropdown:not([data-state="closed"]),
  .lb-tooltip[data-state="delayed-open"]:not([data-state="closed"]),
  .lb-composer-suggestions {
    animation-name: lb-animation-appear;
  }
}

/**
 * Dropdown
 */

.lb-dropdown-item-icon {
  margin-inline-start: calc(-0.125 * var(--lb-spacing));
  margin-inline-end: calc(0.375 * var(--lb-spacing));
}

/**
 * Composer suggestions
 */

.lb-composer-suggestions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**
 * Composer mention suggestions
 */

.lb-composer-mention-suggestions {
  --lb-composer-mention-suggestion-avatar-size: 1.25rem;
}

.lb-composer-mention-suggestion {
  padding: calc(0.375 * var(--lb-spacing)) calc(0.625 * var(--lb-spacing));
}

.lb-composer-mention-suggestion-avatar {
  width: var(--lb-composer-mention-suggestion-avatar-size);
  background: var(--lb-elevation-foreground-subtle);
  color: var(--lb-elevation-foreground-moderate);
  margin-inline-start: calc(-0.125 * var(--lb-spacing));
  margin-inline-end: calc(0.5 * var(--lb-spacing));
}

/**
 * Tooltip
 */

.lb-tooltip {
  display: flex;
  align-items: center;
  height: calc(
    #{$lb-tooltip-shortcut-height} + 2 * #{$lb-tooltip-additional-padding}
  );
  padding-inline: $lb-tooltip-padding;
  border-radius: var(--lb-radius);
  background: var(--lb-tooltip-background);
  color: var(--lb-tooltip-foreground);
  box-shadow: var(--lb-tooltip-shadow);
  font-size: 0.75rem;
  line-height: 1;
  pointer-events: none;
}

.lb-tooltip-shortcut {
  display: flex;
  gap: calc(0.125 * var(--lb-spacing));
  justify-content: center;
  align-items: center;
  height: $lb-tooltip-shortcut-height;
  padding-inline: calc(0.25 * var(--lb-spacing));
  border-radius: calc(
    var(--lb-radius) - 0.75 * #{$lb-tooltip-additional-padding}
  );
  background: var(--lb-tooltip-foreground-subtle);
  color: var(--lb-tooltip-foreground-moderate);
  font-family: inherit;
  text-transform: uppercase;
  margin-inline-start: $lb-tooltip-padding;
  margin-inline-end: calc(
    -1 * #{$lb-tooltip-padding} + #{$lb-tooltip-additional-padding}
  );

  abbr {
    text-decoration: none;
  }
}

/**
 * Avatar
 */

.lb-avatar {
  position: relative;
  container-type: inline-size;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: var(--lb-avatar-radius);
  background: var(--lb-foreground-subtle);
  color: var(--lb-foreground-moderate);
}

.lb-avatar-image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.lb-avatar-fallback {
  font-weight: 500;
  font-size: 35cqw;
  white-space: nowrap;

  // Progressive enhancement: Only show the fallback when container queries are supported
  @supports not (container-type: inline-size) {
    display: none;
  }
}

/**
 * User
 */

.lb-user[data-loading]::before {
  content: "\FEFF";
  display: inline-block;
  vertical-align: middle;
  width: 10ch;
  height: 1.75ex;
  border-radius: calc(0.375 * var(--lb-radius));
  background: currentcolor;
  opacity: 0.2;
  user-select: none;
}

/**
 * Loading
 */

.lb-avatar[data-loading],
.lb-user[data-loading] {
  animation: lb-animation-pulse 2s infinite ease-in-out;
}

/**
 * Body 
 */

.lb-comment-body,
.lb-composer-editor {
  color: var(--lb-foreground-secondary);

  & p {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;

    &:first-of-type {
      margin-block-start: 0;
    }

    &:last-of-type {
      margin-block-end: 0;
    }
  }

  & code {
    padding: 0.2em 0.4em;
    border-radius: calc(0.75 * var(--lb-radius));
    background: var(--lb-foreground-subtle);
    box-decoration-break: clone;
    font-size: 85%;
    line-height: 1;
  }

  // Progressive enhancement: Merge adjacent inline code elements
  & span:has(code) + span code {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    padding-inline-start: 0;
  }

  & span:has(code):has(+ span code) code {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    padding-inline-end: 0;
  }
}

.lb-comment-mention,
.lb-composer-mention {
  color: var(--lb-accent);
  font-weight: 500;
}

.lb-comment-mention[data-self],
.lb-composer-mention {
  padding: 0.1em 0.2em;
  border-radius: calc(0.675 * var(--lb-radius));
  background: var(--lb-accent-subtle);
}

/**
 * Composer
 */

.lb-composer {
  background: var(--lb-background);
  color: var(--lb-foreground);
}

// Progressive enhancement: Use :has instead of :focus-within to target the editor specifically
@supports selector(:has(*)) {
  .lb-composer:has(.lb-composer-editor:not(:focus-visible))
    .lb-button\:primary {
    --lb-button-background: var(--lb-foreground-subtle);

    color: var(--lb-foreground-tertiary);

    &:enabled:hover,
    &:enabled:focus-visible {
      --lb-button-background: var(--lb-accent);

      color: var(--lb-accent-foreground);
    }
  }
}

@supports not selector(:has(*)) {
  .lb-composer:not(:focus-within) .lb-button\:primary {
    --lb-button-background: var(--lb-foreground-subtle);

    color: var(--lb-foreground-tertiary);

    &:enabled:hover,
    &:enabled:focus-visible {
      --lb-button-background: var(--lb-accent);

      color: var(--lb-accent-foreground);
    }
  }
}

.lb-composer-editor {
  padding: var(--lb-spacing);
  outline: none;
}

.lb-composer-mention {
  &[data-selected] {
    background: var(--lb-accent);
    color: var(--lb-accent-foreground);
  }
}

.lb-composer-footer {
  display: flex;
  gap: calc(0.75 * var(--lb-spacing));
  align-items: center;
  height: calc(#{$lb-button-size} + var(--lb-spacing));
  padding: 0 var(--lb-spacing) var(--lb-spacing);
}

.lb-composer-actions,
.lb-composer-editor-actions {
  display: flex;
  gap: calc(0.25 * var(--lb-spacing));
  align-items: center;
}

.lb-composer-editor-actions {
  margin-inline-end: auto;
}

.lb-composer-logo {
  height: calc(0.75 * #{$lb-button-size});
  color: var(--lb-foreground-moderate);
}

/**
 * Comment
 */

.lb-comment {
  --lb-comment-avatar-size: #{$lb-button-size};

  position: relative;
  padding: var(--lb-spacing);
  background: var(--lb-background);
  color: var(--lb-foreground);
  font-weight: 400;
}

.lb-comment-header {
  position: relative;
  display: flex;
  gap: calc(0.75 * var(--lb-spacing));
  align-items: center;
  height: var(--lb-comment-avatar-size);
  margin-block-end: calc(0.75 * var(--lb-spacing));
}

.lb-comment-details {
  display: flex;
  gap: calc(0.75 * var(--lb-spacing));
  align-items: center;
  min-width: 0;
}

.lb-comment-avatar {
  flex: none;
  width: var(--lb-comment-avatar-size);
}

.lb-comment-details-labels {
  display: flex;
  gap: calc(0.5 * var(--lb-spacing));
  align-items: baseline;
  min-width: 0;
}

.lb-comment-author {
  @include truncate;

  font-weight: 500;
}

.lb-comment-date {
  @include truncate;

  color: var(--lb-foreground-tertiary);
  font-size: 0.85em;
}

.lb-comment-date-timestamp,
.lb-comment-date-edited {
  display: contents;
}

.lb-comment-actions {
  display: flex;
  gap: calc(0.25 * var(--lb-spacing));
  transition-timing-function: var(--lb-transition-easing);
  transition-duration: var(--lb-transition-duration);
  transition-property: opacity;
  margin-inline-start: auto;
}

.lb-comment.lb-comment\:show-actions-hover {
  & .lb-comment-actions {
    opacity: 0;
  }

  &:hover .lb-comment-actions,
  &:focus-within .lb-comment-actions,
  &.lb-comment\:dropdown-open .lb-comment-actions {
    opacity: 1;
  }
}

.lb-comment-composer {
  margin: calc(-1 * var(--lb-spacing));
}

.lb-comment-body {
  // Prevent empty lines from collapsing
  & p span:only-child:empty::before {
    content: "\FEFF";
    user-select: none;
  }
}

.lb-comment-deleted {
  color: var(--lb-foreground-tertiary);
  font-size: 0.85em;
}

.lb-comment\:indent-body {
  min-height: calc(var(--lb-comment-avatar-size) + 2 * var(--lb-spacing));

  & .lb-comment-header {
    height: $lb-button-size;
    margin-block-end: calc(0.25 * var(--lb-spacing));
  }

  & .lb-comment-avatar {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
  }

  & .lb-comment-details-labels {
    margin-inline-start: calc(
      var(--lb-comment-avatar-size) + 0.75 * var(--lb-spacing)
    );
  }

  & .lb-comment-body,
  & .lb-comment-composer {
    padding-inline-start: calc(
      var(--lb-comment-avatar-size) + 0.75 * var(--lb-spacing)
    );
  }
}

/**
 * Thread
 */

.lb-thread {
  background: var(--lb-background);
  color: var(--lb-foreground);
}

.lb-thread-comments {
  display: flex;
  flex-direction: column;
}

.lb-thread.lb-thread\:show-actions-hover {
  &:hover .lb-thread-actions,
  &:focus-within .lb-thread-actions {
    opacity: 1;
  }
}

.lb-thread-comment {
  padding-block: calc(0.5 * var(--lb-spacing));

  &.lb-comment\:indent-body {
    min-height: calc(var(--lb-comment-avatar-size) + var(--lb-spacing));
  }

  &:first-of-type {
    padding-block-start: var(--lb-spacing);

    &.lb-comment\:indent-body {
      min-height: calc(var(--lb-comment-avatar-size) + 1.5 * var(--lb-spacing));
    }
  }

  &:last-of-type {
    padding-block-end: var(--lb-spacing);

    .lb-comment-body {
      margin-block-end: calc(0.25 * var(--lb-spacing));
    }

    &.lb-comment\:indent-body {
      min-height: calc(
        var(--lb-comment-avatar-size) + 1.75 * var(--lb-spacing)
      );
    }
  }
}

.lb-thread-composer {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-block-start: 1px solid var(--lb-foreground-subtle);
  }

  & .lb-composer-editor {
    padding-block-end: calc(0.875 * var(--lb-spacing));
  }
}

/**
 * Animations
 */

@keyframes lb-animation-slide-down {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lb-animation-slide-up {
  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lb-animation-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes lb-animation-disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes lb-animation-pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
