@use "sass:math";

/**
 * Generates a scale of [100...900] colors based on a contrast
 * variable, which indicates the lowest percentage of the scale.
 *
 *   ╔═════════╗                                  ╔═════════╗
 *   ║  $from  ║                                  ║   $to   ║
 *   ╚═════════╝                                  ╚═════════╝
 *  
 *     0% ●────────────────────────────────────────────● 100%
 *        ● ─ ─ ─ ─●───┬───┬───┬───┬───┬───┬───┬───┬───●
 *       ┌─────────┴───┴───┤   │   │   │   │   │   │
 *       │ $contrast = 15% │   │   │   │   │   │   │
 *       └─────────┬───┬───┤   │   │   │   │   │   │
 *                 ◇   ◇   ◇   ◇   ◇   ◇   ◇   ◇   ◇
 *                100 200 300 400 500 600 700 800 900
 *  
 *     0% ●────────────────────────────────────────────● 100%
 *        ● ─ ─ ─ ─ ─ ─ ─ ─ ●──┬──┬──┬──┬──┬──┬──┬──┬──●
 *                 ┌────────┴──┴──┴──┤  │  │  │  │  │
 *                 │ $contrast = 40% │  │  │  │  │  │
 *                 └────────┬──┬──┬──┤  │  │  │  │  │
 *                          ◇  ◇  ◇  ◇  ◇  ◇  ◇  ◇  ◇
 */
@function color-scale($from, $to, $contrast, $increment) {
  $index: math.div($increment, 100);
  $percentage: "calc(100% - (#{$contrast} + #{math.max($index - 1, 0)} * ((100% - #{$contrast}) / 9)))";

  @return color-mix(in srgb, #{$to}, #{$from} #{$percentage});
}
