Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@vinodsantharam 
/
Private
Code
Issues
53
Pull requests
Actions
Projects
2
Security
Insights
Settings
@vinodsantharam
vinodsantharam Feature/android (#26)
…
Latest commit 7daf129 on 27 Feb 2021
 History
 1 contributor
67 lines (58 sloc)  926 Bytes
   
# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
android/keystore.properties
android/app/*/*.aab
android/vendor
android/.bundle

# Visual Studio Code
#
#.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete