name: Docs

on:
  push:
    branches:
      - main
    paths:
      - docs/**
      - guides/**
      - tutorial/**
      - CHANGELOG_PUBLIC.md

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger liveblocks.io build on Vercel
        run: |
          curl -X POST ${{ secrets.VERCEL_DEPLOY_HOOK_LIVEBLOCKS_IO }}
