name: Publish Liveblocks DevTools extension

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description:
          "Extension version to publish (use format vX.Y.Z, no '-test' or any
          other tag). Can only be run from the 'main' branch."

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Install moreutils
        run: sudo apt-get install -y moreutils

      - name: Install git-toolbelt
        run: |
          wget https://github.com/nvie/git-toolbelt/archive/v1.9.2.tar.gz
          tar -xzf v1.9.2.tar.gz
          mkdir -p "$HOME/.local/bin"
          cp git-toolbelt-1.9.2/git-* "$HOME/.local/bin"
          rm -rf v1.9.2.tar.gz git-toolbelt-1.9.2
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.RELEASE_COMMIT_WRITE_TOKEN }}

      - name: Validate version
        env:
          VERSION_TAG: ${{ inputs.tag }}
        run: |
          [[ "${VERSION_TAG}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]

      - name: Validate branch
        run: test "$(git rev-parse --abbrev-ref HEAD)" == "main"

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Install dependencies
        run: npm install

      - name: Turbo Cache
        id: turbo-cache
        uses: actions/cache@v4
        with:
          key: turbo-cache-@liveblocks/devtools-bust
          path: node_modules/.cache/turbo
          restore-keys: turbo-cache-@liveblocks/devtools-bust

      - name: Set release version
        id: version
        env:
          VERSION_TAG: ${{ inputs.tag }}
        run: echo "value=${VERSION_TAG#v}" >> $GITHUB_OUTPUT

      - name: Prepare release
        env:
          STRIPPED_VERSION: ${{steps.version.outputs.value}}
        run:
          ./.github/scripts/release.sh -V "$STRIPPED_VERSION" -p -m "Bump
          DevTools to " "tools/liveblocks-devtools"

      - name: Build for Chromium
        run: npx --no turbo run build --filter=@liveblocks/devtools

      - name: Build for Firefox
        run: npx --no turbo run build:firefox --filter=@liveblocks/devtools

      - name: Browser Platform Publish
        uses: PlasmoHQ/bpp@c15984c0a74f452851c605cab46f34d9fd6cb158 # v3.8.0
        with:
          keys: ${{ secrets.DEVTOOLS_PUBLISHING_KEYS }}
