name: Publish packages

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description:
          "NPM version to publish (e.g. v1.2.3-test4). See also
          https://github.com/liveblocks/liveblocks/blob/main/CONTRIBUTING.MD#releasing"
      force:
        type: boolean
        required: false
        default: false
        description: "Force version update (use --force flag with npm version)"

run-name: Publishing ${{ github.event.inputs.tag }} packages

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Install moreutils
        run: sudo apt-get install -y moreutils

      - name: Install git-toolbelt
        run: |
          wget https://github.com/nvie/git-toolbelt/archive/v1.9.2.tar.gz
          tar -xzf v1.9.2.tar.gz
          mkdir -p "$HOME/.local/bin"
          cp git-toolbelt-1.9.2/git-* "$HOME/.local/bin"
          rm -rf v1.9.2.tar.gz git-toolbelt-1.9.2
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.WRITE_ACCESS_TOKEN }}

      - name: Validate git tag
        run: ./.github/scripts/validate-version.sh "${{ inputs.tag }}"

      - name: Set release version
        id: version
        env:
          GIT_TAG: ${{ inputs.tag }}
        run: echo "value=${GIT_TAG#v}" >> $GITHUB_OUTPUT

      - name: Set npm tag
        id: npm_tag
        env:
          GIT_TAG: ${{ inputs.tag }}
        run: |
          get_npm_tag () {
            if grep -q "-" <<< "$1"; then
                echo "${1##*-}" | sed 's/[0-9]//g'
            else
                echo "latest"
            fi
          }
          echo value=$(get_npm_tag "$GIT_TAG") >> $GITHUB_OUTPUT

      - name: Check values
        run: |
          echo "${{ inputs.tag }}"
          echo "${{ steps.version.outputs.value }}"
          echo "${{ steps.npm_tag.outputs.value }}"

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: "22.4.1"
          registry-url: "https://registry.npmjs.org"

      - name: Setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Prepare release
        env:
          VERSION: ${{steps.version.outputs.value}}
          FORCE_FLAG: ${{ inputs.force && '-f' || '' }}
        run:
          ./.github/scripts/release.sh -V "$VERSION" $FORCE_FLAG
          "packages/liveblocks-core" "packages/liveblocks-client"
          "packages/liveblocks-node" "packages/liveblocks-react"
          "packages/liveblocks-redux" "packages/liveblocks-zustand"
          "packages/liveblocks-yjs" "packages/liveblocks-react-ui"
          "packages/liveblocks-react-lexical" "packages/liveblocks-node-lexical"
          "packages/liveblocks-react-tiptap" "packages/liveblocks-emails"
          "packages/liveblocks-node-prosemirror"
          "packages/liveblocks-react-blocknote"

      - name: Build all packages
        run: |
          npm run build -- --filter='./packages/*'

      - name: Publish packages
        env:
          # setup-node created .npmrc file to publish to npm
          # https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages#publishing-packages-to-the-npm-registry
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          VERSION: ${{ steps.version.outputs.value }}
          NPM_TAG: ${{ steps.npm_tag.outputs.value }}
        run:
          ./.github/scripts/publish.sh -V "$VERSION" -t "$NPM_TAG"
          "packages/liveblocks-core" "packages/liveblocks-client"
          "packages/liveblocks-node" "packages/liveblocks-react"
          "packages/liveblocks-redux" "packages/liveblocks-zustand"
          "packages/liveblocks-yjs" "packages/liveblocks-react-lexical"
          "packages/liveblocks-node-lexical" "packages/liveblocks-react-ui"
          "packages/liveblocks-react-tiptap" "packages/liveblocks-emails"
          "packages/liveblocks-node-prosemirror"
          "packages/liveblocks-react-blocknote"

      - name:
          Creating release tag, don't forget to fill the changelog if necessary!
        env:
          VERSION: ${{ steps.version.outputs.value }}
          GIT_TAG: ${{ inputs.tag }}
          GITHUB_URL: "https://github.com/liveblocks/liveblocks"
        run: |
          echo "==> Pushing changes to GitHub"
          if [ "$(git current-branch)" = "main" ]; then
            if ! git push origin main; then
                echo "ERROR: Could not push this branch to GitHub!" >&2
                echo "Please manually fix that now, before writing the release notes!" >&2
                exit 2
            else
                echo "Done! Please finish it off by writing a nice changelog entry on GitHub."
            fi
          fi
          git tag "$GIT_TAG" -m "Release $GIT_TAG"
          git push origin "$GIT_TAG"
          BRANCH="$(git current-branch)"
          URL="${GITHUB_URL}/releases/new?tag=$GIT_TAG&target=${BRANCH}&title=$VERSION&body=%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%0A%0APlease%20replace%20this%20block%20with%20the%20contents%20of%20the%20top%20section%20of%3A%0A%0Ahttps%3A%2F%2Fgithub.com%2Fliveblocks%2Fliveblocks%2Fraw%2F${BRANCH}%2FCHANGELOG.md%0A%0A%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20%E2%9C%82%20"
          echo "Done! Please finish it off by writing a nice release entry on GitHub."
          echo "You can do so by opening this link:"
          echo "$URL"
          echo "Also, don't forget to update CHANGELOG.MD"
