name: Publish CLI tools

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description:
          "NPM version to publish (use format v2.YYYYMMDD.0). See also
          https://github.com/liveblocks/liveblocks/blob/main/CONTRIBUTING.MD#releasing"

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Install moreutils
        run: sudo apt-get install -y moreutils

      - name: Install git-toolbelt
        run: |
          wget https://github.com/nvie/git-toolbelt/archive/v1.9.2.tar.gz
          tar -xzf v1.9.2.tar.gz
          mkdir -p "$HOME/.local/bin"
          cp git-toolbelt-1.9.2/git-* "$HOME/.local/bin"
          rm -rf v1.9.2.tar.gz git-toolbelt-1.9.2
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.WRITE_ACCESS_TOKEN }}

      - name: Validate git tag
        run: ./.github/scripts/validate-version.sh "${{ inputs.tag }}"

      - name: Set release version
        id: version
        env:
          GIT_TAG: ${{ inputs.tag }}
        run: echo "value=${GIT_TAG#v}" >> $GITHUB_OUTPUT

      - name: Set npm tag
        id: npm_tag
        env:
          GIT_TAG: ${{ inputs.tag }}
        run: |
          get_npm_tag () {
            if grep -q "-" <<< "$1"; then
                echo "${1##*-}" | sed 's/[0-9]//g'
            else
                echo "latest"
            fi
          }
          echo value=$(get_npm_tag "$GIT_TAG") >> $GITHUB_OUTPUT

      - name: Check values
        run: |
          echo "${{ inputs.tag }}"
          echo "${{ steps.version.outputs.value }}"
          echo "${{ steps.npm_tag.outputs.value }}"

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"
      - run: npm install -g npm@11.6.0

      - name: Setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Prepare release
        env:
          VERSION: ${{steps.version.outputs.value}}
        run:
          ./.github/scripts/release.sh -V "$VERSION" -m "Bump CLI tools to "
          "tools/create-liveblocks-app" "tools/liveblocks-codemod"

      - name: Build all CLI tools
        run: |
          npm run build -- --filter='./tools/*' --filter='!@liveblocks/devtools'

      - name: Publish packages
        env:
          VERSION: ${{ steps.version.outputs.value }}
          NPM_TAG: ${{ steps.npm_tag.outputs.value }}
        run:
          ./.github/scripts/publish.sh -V "$VERSION" -t "$NPM_TAG"
          "tools/create-liveblocks-app" "tools/liveblocks-codemod"
