.container {
  display: flex;
  flex-direction: column;
  background: var(--color-surface);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  --editor-max-width: 800px;
  --editor-min-height: 1100px;
  --comments-width: 310px;
}

.editorHeader {
  top: 0;
  left: 0;
  right: 0;
  flex: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-surface-elevated);
  border-bottom: 1px solid var(--color-border);
  padding: var(--space-1) var(--space-5);
  z-index: var(--z-above);
  transition: opacity 0.1s ease-out;
}

.editorHeader[data-disabled] {
  pointer-events: none;
  opacity: 0.68;
  user-select: none;
}

.editorPanel {
  flex: 1 1;
  overflow-y: scroll;
}

.editor {
  border-radius: inherit;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: var(--space-20);
}

.editor:focus {
  outline: none;
}

.editor[contenteditable="false"] {
  cursor: default;
}

.editorContainerOffset {
  margin-left: calc(0px - var(--comments-width));
  min-height: 0;
  height: auto;
}

.editorContainer {
  position: relative;
  min-height: var(--editor-min-height);
  width: 100%;
  max-width: var(--editor-max-width);
  margin: var(--space-8) auto;
  border: 1px solid var(--color-border);
  background: var(--color-surface-elevated);
}

@media (prefers-reduced-motion: no-preference) {
  .editorPanel {
    scroll-behavior: smooth;
  }
}

.threads {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: var(--space-8);
  min-width: var(--comments-width);
}

.noComments {
  color: var(--color-text-lighter);
  padding-top: var(--space-8);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  user-select: none;
  margin-left: var(--space-4);
  font-size: var(--size-sm);
  max-width: 260px
}

.noCommentsHeader {
  color: var(--color-text-light);
  font-weight: 600;
  font-size: var(--size-lg);
}

.noCommentsIcon {
  display: inline;
  margin-top: -2px;
}

.noCommentsButton svg {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .editorContainerOffset {
    margin-left: 0;
    padding: 0 var(--space-8);
  }

  .noComments {
    background: var(--color-surface-elevated);
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius-sm);
    padding: var(--space-8);
    margin-left: 0;
  }

  .noComments p {
    display: inline-flex;
    align-items: center;
  }

  .noCommentsButton {
    margin-top: 0;
  }
}

.placeholder {
  pointer-events: none;
  position: absolute;
  inset: 0;
  opacity: 0.3;
  padding: 0 1em;
}

.bubbleMenuWrapper {
  display: flex;
  background: var(--color-surface-elevated);
  gap: var(--space-2);
  padding: var(--space-3);
  box-shadow: var(--shadow-xl);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
}
