.toolbar {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.toolbarButton {
  padding: var(--space-4);
}

.toolbarButton svg {
  height: 20px;
  width: 20px;
}

.toolbarSeparator {
  width: 1px;
  height: var(--space-10);
  background: var(--color-border);
  margin: 0 var(--space-2);
}
