.mediaPopover {
  display: flex;
  min-width: 160px;
  max-width: 320px;
  flex-direction: column;
  padding: var(--space-4);
  box-shadow: var(--shadow-xl);
}

.mediaPopoverLabel {
  font-size: var(--size-sm);
  font-weight: 500;
  padding: var(--space-2) var(--space-1) var(--space-4);
}

.mediaPopoverBar {
  display: flex;
  gap: var(--space-3)
}

.mediaPopoverInput {
  width: 300px;
}

.mediaPopoverButton {
  white-space: nowrap;
}
