:root {
  --bn-colors-editor-text: #3F3F3F;
  --bn-colors-editor-background: var(--surface-backdrop-elevated);
  --bn-colors-menu-text: #3F3F3F;
  --bn-colors-menu-background: #FFFFFF;
  --bn-colors-tooltip-text: #3F3F3F;
  --bn-colors-tooltip-background: #EFEFEF;
  --bn-colors-hovered-text: #3F3F3F;
  --bn-colors-hovered-background: #EFEFEF;
  --bn-colors-selected-text: #FFFFFF;
  --bn-colors-selected-background: #3F3F3F;
  --bn-colors-disabled-text: #AFAFAF;
  --bn-colors-disabled-background: #EFEFEF;

  --bn-colors-shadow: #CFCFCF;
  --bn-colors-border: #EFEFEF;
  --bn-colors-side-menu: #CFCFCF;

  --bn-colors-highlights-gray-text: #9b9a97;
  --bn-colors-highlights-gray-background: #ebeced;
  --bn-colors-highlights-brown-text: #64473a;
  --bn-colors-highlights-brown-background: #e9e5e3;
  --bn-colors-highlights-red-text: #e03e3e;
  --bn-colors-highlights-red-background: #fbe4e4;
  --bn-colors-highlights-orange-text: #d9730d;
  --bn-colors-highlights-orange-background: #f6e9d9;
  --bn-colors-highlights-yellow-text: #dfab01;
  --bn-colors-highlights-yellow-background: #fbf3db;
  --bn-colors-highlights-green-text: #4d6461;
  --bn-colors-highlights-green-background: #ddedea;
  --bn-colors-highlights-blue-text: #0b6e99;
  --bn-colors-highlights-blue-background: #ddebf1;
  --bn-colors-highlights-purple-text: #6940a5;
  --bn-colors-highlights-purple-background: #eae4f2;
  --bn-colors-highlights-pink-text: #ad1a72;
  --bn-colors-highlights-pink-background: #f4dfeb;

  --bn-font-family: "Inter", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --bn-border-radius: 6px;
}

.bn-container[data-color-scheme=dark] {
  --bn-colors-editor-background: var(--surface-backdrop-elevated);
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
  top: -1.4em;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  padding: 2px 6px;
  pointer-events: none;
}

