{% DEFAULT_STYLES %}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast {
  position: fixed;
  right: 0;
  background: var(--preview-foreground);
  color: var(--preview-background);
  padding: 12px 18px;
  border-radius: 4px;
  margin: 8px;
  animation: ease slideIn 0.2s;
  transition: ease bottom 0.2s;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
