{% DEFAULT_STYLES %}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  padding: 12px 16px;
  background: var(--preview-foreground);
  color: var(--preview-background);
  box-shadow:
    0 0 0 1px rgba(128, 128, 128, 0.2),
    0 1px 1px 0 rgb(0 0 0 / 0.06),
    0 1px 2px 0 rgb(0 0 0 / 0.1);
  cursor: pointer;
  border-radius: 6px;
}

button:active {
  opacity: 0.85;
}

button:focus{
  box-shadow:
    0 0 0 1px rgba(128, 128, 128, 0.2),
    0 0 0 2px var(--preview-background),
    0 0 0 4px var(--preview-foreground),
    0 1px 1px 0 rgb(0 0 0 / 0.06),
    0 1px 2px 0 rgb(0 0 0 / 0.1);
}

.toast {
  position: fixed;
  right: 0;
  background: var(--preview-foreground);
  color: var(--preview-background);
  padding: 12px 18px;
  border-radius: 4px;
  margin: 8px;
  animation: ease slideIn 0.2s;
  transition: ease bottom 0.2s;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
